.banner{
    background:#e7eefc;
}
p.stezy_div {
    color: #5c5e64;
    font-size: 17px;
    font-weight: 600;
    margin: 150px 0 0 0;
}
.banner h5 {
    color: #4385f5;
    font-weight: 800;
}
p.help_div{
    color: #5c5e64;
    font-size: 16px;
    font-weight: 600;
    line-height: .5;
}
.line_img {
    width: 50px;
}


/* vission & mission */

.line1_img{
    display: none;
}
h4.vision_heading {
    font-size: 16px;
    font-weight: 800;
    margin-top: 60px;
}
.mission_div {
    margin: 70px 0;
}
.image_div{
    text-align: center;
}
.vision_contant{
    color:#81899e;
}
.team_leader{
    text-align: center;
    margin: 20px 0;
}
.leadership_heading{
    text-align:center;
}
.leadership_heading h3 {
    font-size: 27px;
    font-weight: 800;
}
.leadership_heading p {
    color: #81899e;
    padding: 0 340px;
    font-size: 18px;
    margin-bottom: 30px;
}
.team_leader img {
    /* width: 190px;
    height: 190px; */
    border-radius: 100px;
}
.team_leader h5 {
    font-size: 18px;
    margin: 12px 0 0 0;
    color: #2a2a31;
}
.team_leader p {
    font-size: 15px;
    color: #81899e;
}
.join_our{
    text-align:center;
}
button.join_btn {
    background: #4385f5;
    border: none;
    color: #fff;
    padding: 12px 22px;
    border-radius: 50px;
    font-size: 10px;
}
.join_our{
    margin: 40px 0;
}
.join_our{
    margin: 20px 0 70px 0;
}

/* careers_heading */
.career_div{
    background: #e7eefc;
    padding-bottom: 300px;
    margin-bottom: 134px;
    position: relative;
}
.careers_heading{
    text-align:center;
}
.career_list{
    list-style-type:none;
}
.careers_heading h3 {
    font-size: 27px;
    font-weight: 800;
    margin: 34px 0 7px 0;
}
.careers_heading P{
    color: #81899e;
}
.careers_heading h5 {
    margin: 0px 0 26px 0;
    position: relative;
}
.careers_heading h5:after {
    position: absolute;
    content: "";
    width: 34px;
    height: 2px;
    background: #81899e;
    bottom: -14px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
ul.career_list {
    text-align: center;
    margin: 9px 0;
    padding: 0;
}
ul.career_list li {
    margin: 10px 0;
}
.form_div {
    width: 44%;
    background: #fff;
    margin: 70px auto;
    top: 44%;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px;
    padding: 20px;
}
.form11{
    margin: 0 auto;
}
.form_div h5 {
    text-align: center;
    margin: 4px 0 24px 0;
    font-size: 16px;
}
.input_box img{
    position: absolute;
}
.form-group img{
    position: relative;
    top: 30px;
    z-index: 2;
    left: 5px;
    width: 15px;
}
.form-group input{
    text-indent: 20px;
}
.user_form {
    margin: -14px auto;
}
.submit_btn {
    background: #4385f5;
    color: #fff;
    border-radius: 50px;
    padding: 9px 40px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 42px;
}
.padd_right5{
    padding-right: 5px !important;
}
.padd_left5{
    padding-left: 5px !important;
}
@media only screen and (max-width: 960px) {
    .leadership_heading p{
        padding: 0;
    }
    .form_div{
        width: 80%;
    }
}
@media only screen and (max-width: 960px) {
    p.stezy_div {
        margin: 70px 0 0 0;
    }
}
@media only screen and (max-width: 767px) {
    .leadership_heading p{
        padding: 0;
    }
    p.stezy_div {
        margin: 0;
    }
    .banner {
    padding-bottom: 50px;
}
h4.vision_heading{
    margin-top:20px;
    text-align: center;
}
.image_div .line_img{
    display: none;
}
.form_div[_ngcontent-c1] {
    width: 90%;
    top: inherit;
    padding: 20px;
}
.user_form{
    margin: -8px auto;
}
.padd_right5{
    padding-right: 14px !important;
}
.padd_left5{
    padding-left: 14px !important;
}
.form_row{
    margin: -14px 0;
}
p.vision_contant {
    text-align: center;
}
.career_div{
    margin-bottom: 226px;
}
section.newletter{
    border-top: none;
    padding: 0 0;
}
.mission_div{
    margin: 30px 0;
}
.line1_img{
    display: block;
    margin: 0 auto;
}
.form_div {
    margin: 25px auto;
}
}
@media only screen and (max-width: 667px) {
    .form_div {
        width: 90% !important;
    }
}
@media only screen and (max-width: 375px) {
    .leadership_heading p{
        padding: 0;
    }
    p.stezy_div {
        margin: 0;
    }
    .banner {
    padding-bottom: 50px;
}
h4.vision_heading{
    margin-top:20px;
    text-align: center;
}
.image_div .line_img{
    display: none;
}
.form_div[_ngcontent-c1] {
    width: 90%;
    top: inherit;
    padding: 20px;
}
.user_form{
    margin: -8px auto;
}
.padd_right5{
    padding-right: 14px !important;
}
.padd_left5{
    padding-left: 14px !important;
}
.form_row{
    margin: -14px 0;
}
p.vision_contant {
    text-align: center;
}
.career_div{
    margin-bottom: 226px;
}
section.newletter{
    border-top: none;
    padding: 0 0;
}
.mission_div{
    margin: 30px 0;
}
.line1_img{
    display: block;
    margin: 0 auto;
}
.form_div {
    margin: 25px auto;
}
}
