<app-header></app-header>
<section class="banner">
  <div class="container">
    <div class="row">
    <div class="col-md-6 col-xs-12 mobTexcenter">
      <p class="stezy_div">Stezy is worlds first</p>
      <h5>Do it yourself blockchain platform</h5>
      <p class="help_div">which helps enterprise to seamlessly</p>  
      <p class="help_div">integrate blockchain.</p>
    </div>
    <div class="col-md-6 col-xs-12 position_abso">
     <img class="div_img" src="../../../assets/Characters.png" width="100%" class="img-responsive" alt="">
    </div>
    </div>
  </div>
</section>
<section class="mission_div">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h4 class="vision_heading">Our Vision</h4>
        <p class="vision_contant">To provide and help Transform every
            Business in the world create trust and
            transparency for their partners and 
            customers</p>
      </div>
      <div class="col-md-2 image_div">
        <img src="../../../assets/line.png" class="line_img">
      </div>
      <div class="col-md-5">
          <h4 class="vision_heading">Our Mission</h4>
          <p class="vision_contant">Stezy’s mission is to help companies thrive
              in this new era of secure multi-party
              collaboration by delivering open, scalable
              platforms and services that any organization
              can use to improve shared business processes</p>
      </div>
    </div>  
  </div>  
</section>  
<section class="leadership">
  <div class="container">
    <div class="row">
      <div class="col-md-12 leadership_heading">
        <h3>Leadership</h3>
        <p>Lorem Ipsum is simply dummy text of the printing
            and typesetting industry.</p>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-4 team_leader">
        <img src="../../../assets/leder1.png">
        <h5>John Doe</h5>
        <p>Founder and CEO</p>
      </div>
      <div class="col-md-4 team_leader">
          <img src="../../../assets/leder2.png">
          <h5>John Doe</h5>
          <p>Founder and CEO</p>
      </div>
      <div class="col-md-4 team_leader">
          <img src="../../../assets/leder3.png">
          <h5>John Doe</h5>
          <p>Founder and CEO</p>
      </div>
      <div class="col-md-4 team_leader">
          <img src="../../../assets/leder4.png">
          <h5>John Doe</h5>
          <p>Founder and CEO</p>
      </div>  
      <div class="col-md-4 team_leader">
          <img src="../../../assets/leder5.png">
          <h5>John Doe</h5>
          <p>Founder and CEO</p>
      </div>
      <div class="col-md-4 team_leader">
          <img src="../../../assets/leder6.png">
          <h5>John Doe</h5>
          <p>Founder and CEO</p>
      </div>
    </div> 
    <div class="join_our"> 
      <button class="join_btn">JOIN OUR GROWING TEAM</button>
    </div>
  </div>  
</section> 
<section class="career_div">
  <div class="container">
    <div class="row">
      <div class="col-md-12 careers_heading">
        <h3>Careers</h3>
        <p>Interested in Joining Us? Write to us at jobs@stegy.com</p>
        <h5>Current Openings</h5>
      </div>  
      <div class="col-md-4">
        <ul class="career_list">
          <li>Mobile UI/UX Designer</li>
          <li>Web Developer</li>
          <li>Technical Project Manager</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="career_list">
          <li>Senior Project Manager</li>
          <li>Lead Mobile QA Engineer</li>
          <li>Technical Sales Representative</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="career_list">
           <li>Senior iOS Developer</li>
           <li> Mobile iOS Developer</li>
           <li>Senior Android Developer</li>
        </ul>
      </div>  
    </div>  
  </div>  
</section>  
<app-newletter></app-newletter>
<app-footer></app-footer>
