<app-header></app-header>
<section class="learn_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome!</h2>
        <h3>How can we help?</h3>
      </div>
      <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit" class="search_icon"><i class="fa fa-search"></i></button>
          </form>
      </div>
    </div>
  </div>  
</section>  

<app-footer></app-footer>