.learn_banner{
    background:url("../../../assets/learn_bg.jpg") no-repeat;
    background-size: cover;
}
.learn_banner h2 {
    color: #000;
    margin: 150px 0 0 0;
    font-size: 32px;
    font-weight: bold;
}
.learn_banner h3 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 170px 0;
}
.search-container {
    margin: 0 auto;
    position: relative;
    top: 20px;
}
input[type="text"] {
    width: 400px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 16px 0 #ccc;
}
input[type="text"]:focus {
    outline: none;
}
button.search_icon {
    position: relative;
    right: 40px;
    background: none;
    border: none;
    font-size: 20px;
    color: #2d2d33;
    font-weight: normal;
}
button.search_icon:focus{
    outline: none;
}
/* banner_div_end */

/* accordian_div */
section.accordian_div {
    margin: 80px 0;
}
.tabs-left > .nav-tabs {
    border-bottom: 0;
  }
  
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  
  .tabs-left > .nav-tabs > li {
    float: none;
  }
  
  .tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  
  .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
  }
  
  .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  }
  
  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
  }

  .nav>li>a {
    padding: 0px 30px;
    display:block;
    position: relative;
    top: -4px;
}
.nav-tabs {
    background: #f3f6fd;
    border:none;
    padding:15px 0px;
}
.nav-tabs li{
    display:block;
    width: 100%;
}
li.active a {
    color: #4385f5;
    border:none;
}
.nav>li>a>img {
    margin: 0 6px;
}
/* tab_contant */
.tab_contant{
    text-align: center;
}
.tab_contant{
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 220px;
    height: 180px;
    margin: 0 30px 30px 10px;
}
.nav-tabs li ul{
    height: 0px;
    overflow: hidden;
    transition: all 1s ease;
}
.nav-tabs li.active ul{
    height: inherit;
    overflow: hidden;
    transition: 'height' 2s ease;
}
.tab_contant h4 {
    margin: 14px 0 36px 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.tab_contant img {
    margin-top: 20px;
}
.feartud_heading {
    text-align: center;
}
.feartud_list{
    list-style-type: none;
    margin-top: 35px;
}
.feartud_list li{
    margin: 16px 0;
}
.feartud_list img{
    margin: 0 10px;
}
ul.nav.nav-tabs li {
    padding: 0 0;
    margin: 12px 22px;
}
/* end-tab_contant */


#accordion .title a:before,
#accordion .title a:after{
    content: "";
    width: 3px;
    height: 10px;
    background: #2b2b32;
    font-size: 15px;
    position: absolute;
    top: 68px;
    right: 35px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out 0s;
}
#accordion .title a:after{
    right: 29px;
    transform: rotate(45deg);
}
.nav-tabs li:before{
    transform: rotate(45deg);
    background: #1d2e3b;
}
.nav-tabs li.active:after{
    transform: rotate(-45deg);
    background: #1d2e3b;
}
.getting_div h3{
    color: #4385f5;
    font-size: 20px;
    font-weight: bold;
}
.getting_div h5{
    font-size: 18px;
    color: #4385f5;
    margin-top: 30px;
    margin-bottom: 12px;
}
.border_bottom{
    border-bottom: 1px solid #f3f6fd;
}
ul.stezy_list {
    list-style: none;
    padding:0;
}
ul.stezy_list li{
    padding: 0 !important;
    width: 100%;
    font-size: 13px;
}
ul.nav.nav-tabs li a {
    color: #555;
}
ul.nav.nav-tabs li.active a {
    color:#4385f5;
}
ul.nav.nav-tabs li.tab1{
    background:url("../../../assets/tab1.png") no-repeat;
}
ul.nav.nav-tabs li.tab1.active{
    background:url("../../../assets/tab1bg.png") no-repeat;
}
ul.nav.nav-tabs li.tab2{
    background:url("../../../assets/tab2.png") no-repeat;
}
ul.nav.nav-tabs li.tab2.active{
    background:url("../../../assets/tab2bg.png") no-repeat;
}
ul.nav.nav-tabs li.tab3{
    background:url("../../../assets/tab3.png") no-repeat;
}
ul.nav.nav-tabs li.tab3.active{
    background:url("../../../assets/tab3bg.png") no-repeat;
}
ul.nav.nav-tabs li.tab4{
    background:url("../../../assets/tab4.png") no-repeat;
}
ul.nav.nav-tabs li.tab4.active{
    background:url("../../../assets/tab4bg.png") no-repeat;
}
ul.nav.nav-tabs li.tab5{
    background:url("../../../assets/tab5.png") no-repeat;
}
ul.nav.nav-tabs li.tab5.active{
    background:url("../../../assets/tab5bg.png") no-repeat;
}
ul.nav.nav-tabs li.tab6{
    background:url("../../../assets/tab6.png") no-repeat;
}
ul.nav.nav-tabs li.tab6.active{
    background:url("../../../assets/tab6bg.png") no-repeat;
}
ul.nav.nav-tabs li.tab7{
    background:url("../../../assets/tab7.png") no-repeat;
}
ul.nav.nav-tabs li.tab7.active{
    background:url("../../../assets/tab7bg.png") no-repeat;
}
ul.nav.nav-tabs li.tab8{
    background:url("../../../assets/tab8.png") no-repeat;
    display: inline-block;
}
ul.nav.nav-tabs li.tab8.active{
    background:url("../../../assets/tab8bg.png") no-repeat;
}
.side_menu {
    background: #f3f6fd;
    padding:0;
}
    .showin{
        left:0!important;
        transition: all 1s ease!important;
    }
    .home_head{
    margin: 0px;
    }
    .navbtntik{
        position: absolute;
        z-index: 999;
        background: #ffffff;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        border: 0px solid #e5e5e5;
        right: 20px;
        top: -84px;
        box-shadow: 0 0 16px 0 #ccc;
    }
    .navbtntik span{
        width: 5px;
        height: 5px;
        background: #4385f5;
        display: block;
        margin: 5px auto;
    }
    .navbtnclose{
        position: absolute;
        z-index: 999;
        background: #ffffff;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 0px solid #e5e5e5;
        right: 25px;
        top: 10px;
        box-shadow: 0 0 16px 0 #ccc;
        color: #333;
        font-size: 20px;
        font-weight: bold;
        line-height: 10px;
        padding: 0px;
        -webkit-appearance: none;
    }
    .hide_div{
        display:none;
    }
    .rowset{
        margin-left:0px;
        margin-right:0px
    }
    .suggest_modal{
        width: 45% !important;
    }
    .suggest_modal .form-group {
        margin: 0;
    }
    .suggest_modal{
        margin-top: 70px;
    }
    .request_body {
        padding: 28px 47px;
    }
    .request_group {
        margin-bottom: 16px !important;
    }
    .modal-content {
        background: url(../../../assets/request_demo_bg.jpg) no-repeat center center #fff;
    }
    button.sub_btn {
        margin-top: 15px;
        background: #4385f5;
        color: #fff;
    }
    .request_form {
        margin-top: -20px;
    }
    .popup_close{
        background: #4385f5;
        color: #fff;
    }
    .suggest_modal .modal-footer {
        padding: 5px 14px;
    }
    .suggest_modal h4.modal-title {
        margin: 0 auto !important;
    }
    .suggest_modal .form-group label {
        text-align: left !important;
        display: block;
    }
    .getting_ul{
        background: none;
        padding: 0px;
    }
     .getting_ul li {
       margin:15px !important;
       margin-top: 0px !important;
    }
     .getting_ul li a{
       margin-top: 25px;
       padding: 0px;
    }
    .getting_ul li h4{
       margin: 14px 0px;
    }
@media only screen and (max-width: 1024px) and (max-width:1050px){
    .tab_contant {
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 10px;
        max-width: 220px;
        height: 180px;
        margin: 0 8px 30px 10px;
    }
}
@media only screen and (max-width: 812px){
    .learn_banner {
        background-size: 100%;
    }
    .learn_banner h2{
        margin: 90px 0 0 0;
    }
    .learn_banner h3 {
        margin: 0 0 89px 0;
    }
    .nav-tabs[_ngcontent-c1] {
         padding: 0; 
    }
    .feartud_list {
        margin: 35px 0 0 0;
        padding: 0;
    }
}
@media only screen and (max-width: 767px) {
    .getting_div {
        margin:20px 0 0 0px;
    }
    .learn_banner{
        background-size: 100%;
    }
    .learn_banner h2{
        margin: 90px 0 0 0;
    }
    .learn_banner h3 {
        margin: 0 0 90px 0;
    }
    .search-container {
        top: 15px;
    }
    section.accordian_div {
        margin: 40px 0;
    }
    .tab_contant {
        max-width: 170px;
        height: 170px;
        margin: 0 -62px 30px 90px;
    }
    .feartud_list{
        margin-left: 50px;
    }
    .nav-tabs{
        padding: 0;
    }
    .tab_contant {
        margin: 0 -40px 14px 58px;
    }
    .getting_box{
        width:100%;
    }
    .learn_banner h3{
        margin: 0 0 22px 0;
    }
    .side_menu{
        position: fixed;
        height: 100vh;
        top: 0px;
        width: 100%;
        z-index: 9999;
        left:-100%;
        transition: all 1s ease;
    }
    .showin{
        left:0!important;
        transition: all 1s ease!important;
    }
    .home_head{
    margin: 0px;
    }
    .navbtntik{
        position: absolute;
        z-index: 999;
        background: #ffffff;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        border: 0px solid #e5e5e5;
        right: 20px;
        top: -84px;
        box-shadow: 0 0 16px 0 #ccc;
    }
    .navbtntik span{
        width: 5px;
        height: 5px;
        background: #4385f5;
        display: block;
        margin: 5px auto;
    }
    .navbtnclose{
        position: absolute;
        z-index: 999;
        background: #ffffff;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 0px solid #e5e5e5;
        right: 25px;
        top: 10px;
        box-shadow: 0 0 16px 0 #ccc;
        color: #333;
        font-size: 20px;
        font-weight: bold;
        line-height: 10px;
        padding: 0px;
        -webkit-appearance: none;
    }
  }
@media only screen and (min-width: 812px) and (max-width: 990px){
 .padding_right {
        max-width: 100%;
        width: 100% !important;
    }
    .tab_contant{
        max-width: 190px;
    }
    .suggest_modal{
        width: 70% !important;
    }
}
@media only screen and (max-width: 667px){
    .search-container {
        top: 20px;
    }
}
@media only screen and (max-width: 414px){
    input[type="text"] {
        width: 280px;
    }
    .learn_banner h2 {
        margin: 20px 0 0 0;
    }
    .tab_contant {
        margin: 26px -25px -9px 42px;
    }
    .feartud_heading h3 {
        margin-top: 36px;
    }
    .home_head{
        width:100%;
    }
    .padding_right{
        padding-right:0;
    }
    .tab_contant{
        margin: 14px 12px 0px 0;
        height: 160px;
        cursor: pointer;
    }
    .tab_contant img {
        margin-top: 12px;
    }
    .tab_contant h4{
        font-size: 14px;
    }
    .getting_ul li{
        margin: 7px !important;
    }
}
.accordian_div .container{
    width:100%;
    max-width: inherit;
}
@media only screen and (max-width: 375px){
    .learn_banner h2 {
        margin: 30px 0 0 0;
    }
    .table-responsive{
        max-width: 310px;
        font-size: 12px;
    }
    input[type="text"] {
        width: 280px;
    }
    .search-container {
        top: 0;
    }
    .tab_contant{
        margin: 14px 12px 0px 0;
        max-width: 150px;
        height: 160px;
    }
    .tab_contant img {
        margin-top: 12px;
    }
    .tab_contant h4{
        font-size: 14px;
    }
    .feartud_heading h3 {
        margin-top: 36px;
    }
    .feartud_list {
        margin-left: 0;
    }
    .getting_div ul {
        padding-left: 20px;
    }
    .getting_ul li{
        margin:3px !important;
    }
    .suggest_modal{
        width: inherit !important;
        margin-top: 12px;
    }
}


