<app-header></app-header>
<section class="learn_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome!</h2>
        <h3>How can we help?</h3>
      </div>
      <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit" class="search_icon"><i class="fa fa-search"></i></button>
          </form>
      </div>
    </div>
  </div>  
</section>  
<section class="accordian_div">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
          <div class="tabbable tabs-left">
            <div class="row">
              <div class="col-md-3 nav nav-tabs">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab"><img src="../../../assets/tab1.png">Home</a>
                    </li>
                    <li><a href="#about" data-toggle="tab"><img src="../../../assets/tab2.png">Getting Started</a>
                      <ul class="stezy_list">
                          <li>What is Stezy?</li>
                          <li>What can you do with Stezy?</li>
                          <li>Who uses Stezy?</li>
                          <li>How different is Stezy solution from other BaaS solutions?</li>
                      </ul>
                    </li>
                    <li><a href="#services" data-toggle="tab"><img src="../../../assets/tab3.png">A Quick Introduction to
                      Blockchain</a>
                      <ul class="stezy_list">
                          <li>What is Stezy?</li>
                          <li>What can you do with Stezy?</li>
                          <li>Who uses Stezy?</li>
                          <li>How different is Stezy solution from other BaaS solutions?</li>
                      </ul>
                    </li>
                    <li><a href="#services" data-toggle="tab"><img src="../../../assets/tab4.png">Product Guide</a>
                      <ul class="stezy_list">
                          <li>What is Stezy?</li>
                          <li>What can you do with Stezy?</li>
                          <li>Who uses Stezy?</li>
                          <li>How different is Stezy solution from other BaaS solutions?</li>
                      </ul>
                    </li>
                    <li><a href="#services" data-toggle="tab"><img src="../../../assets/tab5.png">API 101</a>
                      <ul class="stezy_list">
                          <li>What is Stezy?</li>
                          <li>What can you do with Stezy?</li>
                          <li>Who uses Stezy?</li>
                          <li>How different is Stezy solution from other BaaS solutions?</li>
                      </ul>
                    </li>
                    <li><a href="#services" data-toggle="tab"><img src="../../../assets/tab6.png">Billing</a>
                      <ul class="stezy_list">
                          <li>What is Stezy?</li>
                          <li>What can you do with Stezy?</li>
                          <li>Who uses Stezy?</li>
                          <li>How different is Stezy solution from other BaaS solutions?</li>
                      </ul>
                    </li>
                    <li><a href="#services" data-toggle="tab"><img src="../../../assets/tab7.png">Other FAQs</a>
                      <ul class="stezy_list">
                          <li>What is Stezy?</li>
                          <li>What can you do with Stezy?</li>
                          <li>Who uses Stezy?</li>
                          <li>How different is Stezy solution from other BaaS solutions?</li>
                      </ul>
                    </li>
                    <li><a href="#services" data-toggle="tab"><img src="../../../assets/tab8.png">Other FAQs</a>
                      <ul class="stezy_list">
                          <li>What is Stezy?</li>
                          <li>What can you do with Stezy?</li>
                          <li>Who uses Stezy?</li>
                          <li>How different is Stezy solution from other BaaS solutions?</li>
                      </ul>
                    </li>
                    <li><a href="#contact" data-toggle="tab"><img src="../../../assets/tab8.png">Other FAQs</a></li>
                  </ul>
              </div>
              <div class="col-md-9">
                  <div class="tab-content">
                    <div class="tab-pane active" id="home">                
                      <div class="row">
                        <div class="col-md-4 tab_contant">
                          <img src="../../../assets/tab_img1.png">
                          <h4>Getting Started</h4>
                        </div>
                        <div class="col-md-4 tab_contant">
                            <img src="../../../assets/tab_img2.png">
                            <h4>Need help?</h4>
                          </div>
                          <div class="col-md-4 tab_contant">
                              <img src="../../../assets/tab_img3.png">
                              <h4>Suggest a feature?</h4>
                          </div>
                          <div class="col-md-4 tab_contant">
                              <img src="../../../assets/tab_img4.png">
                              <h4>Billing and Refund</h4>
                          </div>
                          <div class="col-md-4 tab_contant">
                              <img src="../../../assets/tab_img5.png">
                              <h4>Partnership/Events</h4>
                          </div>
                          <div class="col-md-4 tab_contant">
                              <img src="../../../assets/tab_img6.png">
                              <h4>Contribute to Stezy</h4>
                          </div>
                          <div class="col-md-12">
                            <div class="feartud_heading">
                              <h3>Featured Articles</h3>
                            </div> 
                            <div class="row">
                              <div class="col-md-6">
                                <ul class="feartud_list">
                                  <li><img src="../../../assets/right_arrow.png">Sharing designs with your team</li>
                                  <li><img src="../../../assets/right_arrow.png">Purchase premium elements</li>
                                  <li><img src="../../../assets/right_arrow.png">Advanced Search</li>
                                  <li><img src="../../../assets/right_arrow.png">Publish team templates</li>
                                </ul>   
                              </div> 
                              <div class="col-md-6">
                                  <ul class="feartud_list">
                                    <li><img src="../../../assets/right_arrow.png">Accessing your invoice</li>
                                    <li><img src="../../../assets/right_arrow.png">Use photos in grids</li>
                                    <li><img src="../../../assets/right_arrow.png">Obtain print quality files</li>
                                    <li><img src="../../../assets/right_arrow.png">Upgrade to Canva for Work</li>
                                  </ul>   
                              </div> 
                            </div> 
                          </div>  
                      </div>
                    </div> 
                    <div class="tab-pane" id="about"> 
                      <div class="getting_div">
                        <div class="get_div border_bottom">
                          <h3>1. Getting Started</h3>
                          <p>We are glad to have you on board. To help you get started, we’ve prepared this series of guides for you. In this first
                            guide, we’ll discuss an overview of what Stezy is and what you can do with it.</p>
                        </div>
                        <div class="stezt_div border_bottom">
                          <h5>What is Stezy?</h5> 
                          <p>Stezy is a "Do it yourself Blockchain Platform", which helps companies, integrate and deploy blockchain solutions with
                            ease by utilizing DIY network and smart contract builder on a fully automated & secured infrastructure. </p>
                        </div>
                        <div class="what_can border_bottom">
                          <h5>What can you do with Stezy?</h5>
                          <p>There are two key components which Stezy platform deals with . These are :</p>
                          <ul>
                            <li>A blockchain network also commonly known consortium and </li>
                            <li>A blockchain code also commonly known as smart contract</li>
                          </ul>
                          <p>By using Stezy platform, organizations can save time, cost and effort to setup blockchain networks, invite other
                              participants to their network and deploy smart contracts.</p>
                        </div>
                        <div class="uses_div border_bottom">
                          <h5>Who uses Stezy?</h5>
                          <p>The short answer is anyone with the intent to move towards decentralization and want to build greater level of trust
                              and transparency into their existing system. In fact, Stezy can be used by:</p>
                          <ul>
                            <li> Small & large businesses who wish to bring the blockchain advantage in their product and that too on a budget.</li>
                            <li> Small & large service companies who wish to serve their customers with blockchain solutions without requiring
                                to hire costly and not so easily available blockchain developers and architects.</li>
                            <li>Developers & Freelancers who want to quickly get their hands dirty with blockchain technology and use them in
                                their projects or just for fun.</li>
                          </ul>
                        </div>
                        <div class="soliution_div">
                          <h5>How different is Stezy solution from other BaaS solutions?</h5>
                          <p>Stezy is the only solution of its kind which provides most flexibility to the organisations in terms of choice of consensus
                              protocols, frameworks and deployment regions. </p>
                          <p>Moreover, Stezy provides a smart contract builder which takes away the efforts of writing programs in solidity and
                              manually deploying it on the blockchain node you own. </p>
                        </div>
                      </div>
                    </div>
                  
                    <div class="tab-pane" id="services"> 
                      <div class="">
                        <h1>Services Tab</h1>
                        <p>meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>                 
                      </div>
                    </div>
                  
                    <div class="tab-pane" id="contact"> 
                      <div class="">
                        <h1>Contact Tab</h1>
                        <p>deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>                 
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>  

<app-footer></app-footer>