<app-header></app-header>
<section class="learn_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome!</h2>
        <h3>How can we help?</h3>
      </div>
      <!-- <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit" class="search_icon"><i class="fa fa-search"></i></button>
        </form>
      </div> -->
    </div>
  </div>
</section>
<section class="accordian_div">
  <div class="container padding_right">
    <div class="row home_head">
      <div class="col-xs-12">
        <div class="tabbable tabs-left">
          <div class="row rowset">

            <div class="col-md-3 col-sm-3 side_menu">
              <button class="navbtnclose  d-block d-sm-none">&times;</button>
              <ul class="nav nav-tabs">
                <li class="active tab1"><a href="#home" data-toggle="tab">Home</a>
                </li>
                <li class=" tab2"><a href="#getting" data-toggle="tab">Getting Started</a>
                </li>
                <li class=" tab3"><a href="#services" data-toggle="tab">A Quick Introduction to
                    Blockchain</a>
                </li>
                <li class=" tab4"><a href="#guide" data-toggle="tab">Product Guide</a>
                </li>
                <li class=" tab5"><a href="#api" data-toggle="tab">API 101</a>
                </li>
                <li class=" tab6"><a href="#billing" data-toggle="tab">Billing</a>
                </li>
                <li class=" tab7"><a href="#other_faqs" data-toggle="tab">Other FAQs</a>
                </li>
                <li class=" tab8"><a href="#support" data-toggle="tab">Help and Support</a>
                </li>
              </ul>
            </div>
            <div class="col-md-9 col-sm-9">
              <button class="navbtntik d-block d-sm-none">
                <span></span>
                <span></span>
                <span></span>
              </button>
              <div class="tab-content">
                <div class="tab-pane active" id="home">
                  <div class="row rowset getting_box">
                    <div class="col-md-4 col-sm-6 col-6 tab_contant">
                      <img src="../../../assets/tab_img1.png">
                      <h4>Getting Started</h4>
                    </div>
                    <div class="col-md-4 col-sm-6 col-6 tab_contant">
                      <img src="../../../assets/tab_img2.png">
                      <h4>Need help?</h4>
                    </div>
                    <div class="col-md-4 col-sm-6 col-6 tab_contant" data-toggle="modal" data-target="#myModal">
                      <img src="../../../assets/tab_img3.png">
                      <h4>Suggest a feature?</h4>
                      <!-- Modal -->
                    
                    </div>
                    <div class="col-md-4 col-sm-6 col-6 tab_contant">
                      <img src="../../../assets/tab_img4.png">
                      <h4>Billing and Refund</h4>
                    </div>
                    <div class="col-md-4 col-sm-6 col-6 tab_contant"><a class="partner" [routerLink]="['/PartenerShip']">
                      <img src="../../../assets/tab_img5.png">
                      <h4>Partnership/Events</h4>
                      </a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-6 tab_contant hide_div">
                      <img src="../../../assets/tab_img6.png">
                      <h4>Contribute to Stezy</h4>
                    </div>
                    <div class="col-md-12">
                      <div class="feartud_heading">
                        <h3>Featured Articles</h3>
                      </div>
                      <div class="row rowset">
                        <div class="col-md-6">
                          <ul class="feartud_list">
                            <li><img src="../../../assets/right_arrow.png">Sharing designs with your team</li>
                            <li><img src="../../../assets/right_arrow.png">Purchase premium elements</li>
                            <li><img src="../../../assets/right_arrow.png">Advanced Search</li>
                            <li><img src="../../../assets/right_arrow.png">Publish team templates</li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <ul class="feartud_list">
                            <li><img src="../../../assets/right_arrow.png">Accessing your invoice</li>
                            <li><img src="../../../assets/right_arrow.png">Use photos in grids</li>
                            <li><img src="../../../assets/right_arrow.png">Obtain print quality files</li>
                            <li><img src="../../../assets/right_arrow.png">Upgrade to Canva for Work</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="getting">
                  <div class="getting_div">
                    <div class="get_div border_bottom">
                      <h3>1. Getting Started</h3>
                      <p>We are glad to have you on board. To help you get started, we’ve prepared this series of
                        guides for you. In this first
                        guide, we’ll discuss an overview of what Stezy is and what you can do with it.</p>
                    </div>
                    <div class="stezt_div border_bottom">
                      <h5>What is Stezy?</h5>
                      <p>Stezy is a "Do it yourself Blockchain Platform", which helps companies, integrate and deploy
                        blockchain solutions with
                        ease by utilizing DIY network and smart contract builder on a fully automated & secured
                        infrastructure. </p>
                    </div>
                    <div class="what_can border_bottom">
                      <h5>What can you do with Stezy?</h5>
                      <p>There are two key components which Stezy platform deals with . These are :</p>
                      <ul>
                        <li>A blockchain network also commonly known consortium and </li>
                        <li>A blockchain code also commonly known as smart contract</li>
                      </ul>
                      <p>By using Stezy platform, organizations can save time, cost and effort to setup blockchain
                        networks, invite other
                        participants to their network and deploy smart contracts.</p>
                    </div>
                    <div class="uses_div border_bottom">
                      <h5>Who uses Stezy?</h5>
                      <p>The short answer is anyone with the intent to move towards decentralization and want to build
                        greater level of trust
                        and transparency into their existing system. In fact, Stezy can be used by:</p>
                      <ul>
                        <li> Small & large businesses who wish to bring the blockchain advantage in their product and
                          that too on a budget.</li>
                        <li> Small & large service companies who wish to serve their customers with blockchain
                          solutions without requiring
                          to hire costly and not so easily available blockchain developers and architects.</li>
                        <li>Developers & Freelancers who want to quickly get their hands dirty with blockchain
                          technology and use them in
                          their projects or just for fun.</li>
                      </ul>
                    </div>
                    <div class="soliution_div">
                      <h5>How different is Stezy solution from other BaaS solutions?</h5>
                      <p>Stezy is the only solution of its kind which provides most flexibility to the organisations in
                        terms of choice of consensus
                        protocols, frameworks and deployment regions. </p>
                      <p>Moreover, Stezy provides a smart contract builder which takes away the efforts of writing
                        programs in solidity and
                        manually deploying it on the blockchain node you own. </p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="services">
                  <div class="getting_div">
                    <div class="get_div border_bottom">
                      <h3>2. A Quick Introduction to Blockchain | Blockchain Key Concepts</h3>
                      <p>Much has been written to explain what a blockchain is. For those readers
                        who are not sure what a blockchain is, we give a quick
                        explanation here. If you are already familiar with blockchain,
                        you can skip to the next section.</p>
                    </div>
                    <div class="stezt_div border_bottom">
                      <h5>What is Blockchain ?</h5>
                      <p>A blockchain is a shared distributed ledger. We refer to entities that participate in a
                        blockchain as blockchain participants. It is possible for all blockchain participants to have
                        their own copy of the ledger.</p>
                    </div>
                    <div class="what_can border_bottom">
                      <h5>How is blockchain different from traditional ledgers and databases ?</h5>
                      <p>Like any ledger, a blockchain can be used to keep track of almost anything such as money,
                        shipments, etc. Unlike other kinds of ledgers, before a transaction can be recorded in a
                        blockchain, its participants must agree that the transaction is valid. Participants
                        automatically achieve consensus on the validity of transactions through their automated
                        proxies. Something else that makes a blockchain database different than other kinds of ledgers
                        is that once a transaction is stored in a blockchain, it cannot be changed or deleted.</p>
                      <p>Knowing that information on a blockchain represents an unaltered record of things that
                        participants agreed were true makes a blockchain a trusted source of information. This makes
                        blockchain technology a way of allowing parties who have conflicting interests to trust each
                        other.</p>
                      <p>For example, there are a few blockchains* being used to track ownership of shares in
                        corporations. The corporations and their shareholders have different interests, but they are
                        all able to trust ownership records on the blockchain database</p>
                    </div>
                    <div class="uses_div border_bottom">
                      <h5>What is Smart Contract ?</h5>
                      <p>Another feature of blockchain is smart contracts. A smart contract is a piece of code that is
                        run when a transaction is received by a blockchain. Smart contracts can do such things as
                        validate a transaction, trigger a payment or decide that an additional transaction should be
                        put on the blockchain.</p>
                    </div>
                    <div class="soliution_div">
                      <h5>What is Node ?</h5>
                      <p>Nodes are basically replicas of ledgers which people rely on to keep track of cryptocurrency
                        transactions that have occurred on the blockchain. Anyone who wishes to can create a node and
                        doing so, will have their own copy of the full blockchain transaction history</p>
                      <h5>What is Consensus ?</h5>
                      <p>In the blockchain context, consensus is the mechanism where the nodes, participating in the
                        formation of the blockchain, act in concert and have a common opinion and way of cooperation.
                        In addition, this is the way to reach agreement on the correctness of the block — confirmation
                        that the content of the block is not falsified, is not distorted and is approved by all the
                        nodes of the blockchain.</p>
                      <p>Different blockchain frameworks use various ways to achieve consistency and confirmation
                        between nodes — consensus algorithms/protocols. </p>
                      <p>For example, Ethereum(geth) uses the <b>PoA</b> algorithm (<b>Proof of Authority</b>). PoA
                        involves a set of nodes designated as trusted “validators” taking turns validating(signing) and
                        disseminating blocks to the network.The main characteristics of a PoA network are a low
                        requirement of computational power, no requirement of communication between nodes to reach
                        consensus, and continuity of the network is independent of the number of the available genuine
                        nodes since they are pre-approved and verifiably trustable through cross verification in the
                        public domain.</p>
                      <p>Quorum on the other hand offers two options -<b> RAFT & IBFT</b>. The defining features of
                        RAFT algo are Election Safety (only one leader can be elected in a given term) and Leader
                        Append-Only (a leader never overwrites or deletes entries in the log; it only appends new
                        entries). Raft is intended for use in a relatively small cluster of servers of around five or
                        less.</p>
                      <p>IBFT, is a byzantine fault tolerant protocol that follows the PBFT implementation and is based
                        on a commitment consensus where each node waits until 2F + 1 commits from different validators
                        with the same result before inserting the block into the blockchain. Additionally, IBFT offers
                        further protections through the collection of signatures from the block proposer and voting
                        validator nodes. </p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="guide">
                  <div class="getting_div">
                    <div class="get_div border_bottom">
                      <h3>3. Product Guide </h3>
                      <p>You can elect for one of two routes to perform any
                        operation on the Stezy platform from building your
                        first consortium, deploying smart contracts to setup
                        the complete underlying environment. The first
                        approach relies solely on the user interface,
                        while the second option allows you to exercise
                        the Stezy fully RESTful API to send privileged
                        calls to the backend server. Regardless of your
                        selection, you must visit the Stezy dashboard and
                        create an account prior to continuing.</p>
                      <p>In this article we will guide you with the approach of setting things up using user interface.
                        For guide on setting things up using RESTful APIs, refer the API 101 article.</p>
                    </div>
                    <div class="stezt_div border_bottom">
                      <h5>Create your Network </h5>
                      <ul>
                        <li>Open the Create Blockchain Dialog</li>
                        <li>Provide your network, a suitable name and description on the purpose of blockchain</li>
                        <li>Select the blockchain Framework and the underlying Consensus Protocol.</li>
                        <li>Select the Cloud Provider where you wish to deploy your blockchain nodes.</li>
                        <li>Enter the Node name & description</li>
                        <li>Select the Geo and the Region where you want to host the blockchain node.</li>
                        <li>Enter the Payment Information and Deploy your blockchain.</li>
                        <li>Wait for few minutes till blockchain status changes to Running</li>
                      </ul>
                    </div>
                    <div class="what_can border_bottom">
                      <h5>Manage your Network</h5>
                      <p>Open the “View & Manage” Dialog from a particular blockchain tab. It takes you to that
                        particular blockchain console where you can view and manage various blockchain components.</p>
                      <ul>
                        <li>Genesis File : The genesis block is the start of the blockchain, and the genesis.json is
                          the file that defines it. It is like the “settings” for your blockchain. For example, the
                          chain configuration, level of difficulty to mine blocks, etc. Download it to check the unique
                          chain configuration and view list of user accounts. It’s a read only operation.</li>
                        <li>Blockchain Explorer : The blockchain explorer showcases the blockchain network statistics
                          and helps the blockchain participants track the transactions done on the blockchain.</li>
                        <li>Create Node : Create a new node for the blockchain. The node is owned by the organisation
                          which initiates its creation.
                          <ul>
                            <li>Provide your new node, a suitable name and description on the purpose of the node.</li>
                            <li>Select the Geo and the Region where you want to host the blockchain node.</li>
                            <li>Wait for the status of this new node to change to Running</li>
                          </ul>
                        </li>
                        <li>Invite Organisation : Create an invitation for the blockchain network.

                          <p>Inviting a new organisation to be part of existing blockchain network is an important part
                            in decentralisation. There are two scenarios how an organisation can be invited to be part
                            of the blockchain network : </p>
                          <ul>
                            <li>New organisation is registered on Stezy :
                              <ul>
                                <li>Specify the organisationId (Where to find organisationId) of the organisation you
                                  want to invite. </li>
                                <li>Specify the details of the node invited organisation will own.</li>
                                <li>Send an inviite</li>
                              </ul>
                            </li>
                            <li>New organisation not registered on Stezy.
                              <ul>
                                <li>New organisation need to be invited through email.</li>
                                <li>Once they register on Stezy platform, follow the instructions mentioned in previous
                                  scenario</li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li>Manage Nodes
                          <p>The organisation can view and manage the blockchain nodes owned by it and have the read
                            only access to other blockchain nodes owned by other organisations.</p>
                          <ul>
                            <li> Connect to your Node</li>
                            <li>Cancel Node Subscription</li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="uses_div border_bottom">
                      <h5>Create Smart Contract</h5>
                      <p>Smart Contract provides the means through which participants submit transactions on the
                        blockchain to store data. To build a new smart contract :</p>
                      <ul>
                        <li>Open the Create Smart Contract Dialog</li>
                        <li>Provide your smart contract, a suitable name</li>
                        <li>Build your smart contract through simple drag and drop</li>
                        <li>Once the field names and types are finalised, initiate the smart contract Deployment </li>
                        <li>Select the blockchain and blockchain node on which this smart contract should be deployed.</li>
                        <li>Wait for few seconds till you get the confirmation.</li>
                        <li>Your smart contract will be replicated automatically to all the participating nodes in the
                          blockchain. </li>
                      </ul>
                    </div>
                    <div class="soliution_div">
                      <h5>Manage your Smart Contract </h5>
                      <ul>
                        <li><b>Go to Application</b> : Create a new data entry into the blockchain
                          <ul>
                            <li>Enter the data you want to put on the blockchain.</li>
                            <li>Select the node through which this transaction should be submitted.</li>
                            <li>Submit the transaction and wait for few seconds till you get the confirmation and the
                              Transaction Hash.</li>
                          </ul>
                        </li>
                        <li><b>View Reports </b>: Helps the blockchain participants track the transactions done through
                          a particular smart contract.
                          <ul>
                            <li><b>Transaction Hash </b>: Transaction hash (txid) is an identifier used to uniquely
                              identify a particular transaction.</li>
                            <li><b>Record Id </b>: Unique identifier used by the smart contract while querying a
                              particular record from the blockchain.</li>
                            <li><b>View Receipt</b> : Gives information about the transaction, concerning its
                              execution.
                              <ul>
                                <li><b>Transaction Index</b> : Index of the transaction in the block.</li>
                                <li><b>Block Hash</b> : Hash of the block where this transaction is stored.</li>
                                <li><b>Block Number</b> : Number/Height of the block where this transaction is stored.</li>
                                <li><b>Gas Used</b> : The amount of gas used by this specific transaction alone.</li>
                                <li><b>Cumulative Gas Used</b> :The total amount of gas used when this transaction was
                                  executed in the block. In other words it is gas used by the transaction plus gas used
                                  by the transactions executed before the current one in the same block.</li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="api">
                  <div class="getting_div">
                    <h3>4. API 101</h3>
                  </div>
                </div>
                <div class="tab-pane" id="billing">
                  <div class="getting_div">
                    <div class="get_div border_bottom">
                      <h3>5. Billing</h3>
                      <p>Billing is at the organization level while preserving visibility into usage in each project.
                        Stezy charges the organisations only for the blockchain nodes that are provisioned by them.
                        Stezy charges monthly for your blockchain nodes. If organisations decide to cancel their
                        ongoing node subscription, they will continue to use all the services till their plan’s current
                        expiry date is reached and their card won’t be charged for any upcoming months till they plan
                        to start their subscription again. </p>
                      <p>There is no extra cost involved for using any of the smart contract builder services. </p>
                      <p>For all the plans, organisations have access to our complete API library for no extra cost
                        involved.</p>
                      <p>Stezy currently is offering three plans : Starter, Standard and Enterprise. Organisations can
                        choose the plan that best meet their needs.</p>
                      <h3>Feature</h3>
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </table>
                      </div>
                      <h3>Comparison</h3>
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <tr>
                            <th></th>
                            <th></th>
                            <th>Free</th>
                            <th>Business</th>
                            <th>Enterprise</th>
                          </tr>
                          <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                          <tr>
                            <th></th>
                            <th></th>
                            <th>Get Started Free</th>
                            <th>Starting $199/month</th>
                            <th>Contact Us</th>
                          </tr>
                          <tr>
                            <td>Networking Configuration</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Highly Available Network</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Private Network Setup</td>
                            <td>No</td>
                            <td>Yes</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Choice of blockchain framework</td>
                            <td>No</td>
                            <td>Yes</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td>No</td>
                            <td>Yes</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Cross Region Network</td>
                            <td>No</td>
                            <td>Yes</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>External Organisation Onboarding</td>
                            <td>No</td>
                            <td>Yes</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Choice of Cloud Provider</td>
                            <td>No</td>
                            <td>No</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>In-house deployment</td>
                            <td>No</td>
                            <td>No</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>I</td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Security</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Always On Authentication</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>End To End Encryption</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>User Pools</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>IP Whitelisting</td>
                            <td>No</td>
                            <td>Yes</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Dedicated Private Network</td>
                            <td>No</td>
                            <td>Yes</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>VPC Integration</td>
                            <td>No</td>
                            <td>No</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>VPC Peering</td>
                            <td>No</td>
                            <td>No</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>VPN Tunneling</td>
                            <td>No</td>
                            <td>No</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Disaster Recovery</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Fully Managed Backups</td>
                            <td>NO</td>
                            <td>No</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Monitoring</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Blockchain Explorer</td>
                            <td>Basic</td>
                            <td>Advanced</td>
                            <td>Custom</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Support & Learning</td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Knowledge Base Access</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Platform & UI support</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>End to End Network Support</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Response time SLA</td>
                            <td>48 hours</td>
                            <td>24 hours</td>
                            <td>12 hours</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Additional Software & Tools</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Smart Contract Builder</td>
                            <td>Free</td>
                            <td>Free</td>
                            <td>Free</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>API Integration</td>
                            <td>Basic</td>
                            <td>Advanced</td>
                            <td>Custom</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </table>
                      </div>
                      <h3>Pricing</h3>
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <tr>
                            <th>Free</th>
                            <th>Business</th>
                            <th>Enterprise</th>
                          </tr>
                          <tr>
                            <th>Get Started Free</th>
                            <th>Starting $199/month</th>
                            <th>Contact Us</th>
                          </tr>
                          <tr>
                            <td>For learning, prototypes, and early development</td>
                            <td>Designed for every stage of your application</td>
                            <td>Includes proactive support and advanced enterprise features</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Pay only for the nodes you provision</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Lifetime free Node access to Stezy Private Blockchain</td>
                            <th>Small Node</th>
                            <td>Contact Us</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="other_faqs">
                  <div class="getting_div">
                    <div class="get_div border_bottom">
                      <h3>6. Other FAQs</h3>
                      <div class="question">
                        <p><b>Q : How do I know which blockchain framework or protocol I should select?</b></p>
                        <p>A : The selection of blockchain framework and protocol is based on the use case. Please
                          refer our product guide to gain some insight about different blockchain protocols Stezy
                          supports. If still in doubt , write to Stezy support team to get help.</p>
                      </div>
                      <div class="question">
                        <p><b>Q : What AWS Regions does Stezy support?</b></p>
                        <p>A : Stezy supports all AWS regions other than those in China and US GovCloud. For more
                          information, see Amazon Web Services.</p>
                      </div>
                      <div class="question">
                        <p><b>Q : What cloud providers does Stezy support?</b></p>
                        <p>A : Currently only AWS is enabled. We are working on providing you the flexibility to opt
                          for multiple cloud. Please keep watching our News & Updates section for any feature updates.</p>
                      </div>
                      <div class="question">
                        <p><b>Q : What is the solution, if we want to deploy our nodes in our in house cloud or the
                            cloud provider not available on Stezy?</b></p>
                        <p>A : We request to please write to Stezy support team with your requirements.</p>
                      </div>
                      <div class="question">
                        <p><b>Q : Why do i have only few fields in my form builder?</b></p>
                        <p>A : We are continuously working on adding more features and capabilities to our smart
                          contract builder. Please keep watching our News & Updates section for any feature updates.</p>
                      </div>
                      <div class="question">
                        <p><b>Q : We want to build a customised smart contract. What is the process we should follow?</b></p>
                        <p>A : We do offer customised solutions to our customers as per their need. We request to
                          please write to Stezy support team with your requirements.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="support">
                  <div class="getting_div">
                    <h3>7. Help and Support</h3>
                    <p>Existing Stezy customers should visit our support portal to submit a support ticket, check
                      status, and find phone contact information for our support team.</p>
                    <p>Non registered users can write to us at help@stezy.io and we will make sure to respond you back
                      within 24 hours.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog suggest_modal">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Help improve the Stezy platform</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body request_body">
          <form action="/action_page.php" class="request_form">
            <div class="form-group request_group">
              <label for="exampleFormControlTextarea1">What do you wish Stezy platform could do?</label>
              <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="1"></textarea>
            </div>
            <div class="form-group request_group">
              <label for="exampleFormControlTextarea1">Is there another specific canvas or management Tool
                you'd like to add?
              </label>
              <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="1"></textarea>
            </div>
            <div class="form-group request_group">
              <label for="exampleFormControlTextarea1">Anything else you would like to tell/ask us?</label>
              <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="1"></textarea>
            </div>
            <button type="submit" class="btn btn-default sub_btn">Submit</button>
          </form>
        </div>
      </div>
      
    </div>
  </div>


<app-footer></app-footer>