.learn_banner {
  background: url("../../../assets/learn_bg.jpg") no-repeat;
  background-size: cover;
}

.learn_banner h2 {
  color: #4385f5;
  margin: 150px 0 0 0;
  font-size: 24px;
  font-weight: 800;
}

.learn_banner h3 {
  color: #4385f5;
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 170px 0;
}
.policy_heading{
  margin-top: 20px;
}
.policy_heading:after{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          top: 65px;
          height: 2px;
          width: 241px;
          background: #000;
          margin: 0 auto;
}
.getting_div h3 {
  color: #4385f5;
  font-size: 20px;
  font-weight: bold;
}
.margin_bot_30px{
  margin-bottom: 50px;
}

.getting_div h5 {
  font-size: 18px;
  color: #4385f5;
  margin-top: 30px;
  margin-bottom: 12px;
}

.border_bottom {
  border-bottom: 1px solid #f3f6fd;
}

ul.stezy_list {
  list-style: none;
  padding: 0;
}

ul.stezy_list li {
  padding: 0 !important;
  width: 100%;
  font-size: 13px;
}

.rowset {
  margin-left: 0px;
  margin-right: 0px
}



@media only screen and (max-width: 812px) {
  .learn_banner {
    background-size: 100%;
  }

  .learn_banner h2 {
    margin: 90px 0 0 0;
  }

  .learn_banner h3 {
    margin: 0 0 89px 0;
  }

  
  .feartud_list {
    margin: 35px 0 0 0;
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .getting_div {
    margin: 20px 0 0 0px;
  }

  .learn_banner {
    background-size: 100%;
  }

  .learn_banner h2 {
    margin: 90px 0 0 0;
  }

  .learn_banner h3 {
    margin: 0 0 90px 0;
  }

 
  .feartud_list {
    margin-left: 50px;
  }

  
  .getting_box {
    width: 100%;
  }

  .learn_banner h3 {
    margin: 0 0 22px 0;
  }

}

@media only screen and (max-width: 667px) {
  .search-container {
    top: 20px;
  }
}

@media only screen and (max-width: 414px) {
  

  .learn_banner h2 {
    margin: 20px 0 0 0;
  }

  .feartud_heading h3 {
    margin-top: 36px;
  }
}

@media only screen and (max-width: 375px) {
  .learn_banner h2 {
    margin: 30px 0 0 0;
  }

  .feartud_heading h3 {
    margin-top: 36px;
  }

  .feartud_list {
    margin-left: 0;
  }

  .getting_div ul {
    padding-left: 20px;
  }
}
