<app-header></app-header>
<div class="pricing_box">
  <div class="container">
    <h2 class="price_heading">Pricing</h2>
  </div>
</div>
<div class="container price_content">
<p>Billing is at the organization level while preserving visibility into usage in each project. Stezy charges theorganisations
    only for the blockchain nodes that are provisioned by them. Stezy charges monthly for your blockchain nodes.
    If organisations decide to cancel their ongoing node subscription, they will continue to use all the services tilltheir plan’s
    current expiry date is reached and their card won’t be charged for any upcoming months till they plan to start their
    subscription again.
</p>
<p class="extra_para">There is no extra cost involved for using any of the smart contract builder services.</p>
<p>For all the plans, organisations have access to our complete API library for no extra cost involved.</p>
<p>Stezy currently is offering three plans : Starter, Standard and Enterprise. Organisations can choose the plan that best
   meet their needs.
</p>
</div>

<div class="container price_table">
   <div class="row">
     <div class="col-md-4">
       <div class="table_box text-center mob_height">
           <img src="../../assets/ballon.jpg" alt="">
           <h2>Free</h2>
           <ul>
              <li class="li_bg">Get Started Free
                <p>For learning, prototypes, and early development</p>
              </li>
              <li class="font_14px">Lifetime free Node access to Stezy Private Blockchain</li>
           </ul>
       </div>
     </div>
    <div class="col-md-4">
      <div class="table_box text-center">
        <img src="../../assets/engine.jpg" alt="">
        <h2>Business</h2>
          <ul>
            <li class="li_bg">Starting $199/month
            <p>Designed for every stage of your application</p>
            </li>
            <li>Pay only for the nodes you provision</li>
            <li class="li_bold">Small Node</li>
            <li>$199/month</li>
            <li>v1 CPU 1 GB Ram 8GB Storage</li>
            <li class="li_bold">Medium Node</li>
            <li>$299/monh</li>
            <li>v2 CPU 4 GB Ram 200GB Storage</li>
            <li class="li_bold">Large Node</li>
            <li>$499/month</li>
            <li class="bor_bot_none">v4 CPU 16 GB Ram 1TB Storage</li>
          </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="table_box text-center mob_height">
        <img src="../../assets/rocket.jpg"  alt="">
        <h2>Enterprise</h2>
          <ul>
            <li class="li_bg">Contact Us
            <p>Includes proactive support and advanced enterprise features</p>
            </li>
            <li class="mob_border_none">Contact Us</li>
          </ul>
      </div>
    </div>
   </div>
</div>
<app-footer></app-footer>
