<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer_logo footer_contant mtextcenter">
        <img src="../../../assets/logo.png">
<p>International Institute of Information Technology,<br/>Gachibowli - Hyderabad</p>
      </div>
      <div class="col-md-3 footer_contant mtextcenter">
        <h6>COMPANY</h6>
        <ul class="company_list">
          <li>About</li>
          <!-- <li>News</li> -->
          <li>Contact Us</li>
          <li>Careers </li>
        </ul>
      </div>
      <div class="col-md-3 footer_contant mtextcenter">
        <h6>RESOURCES</h6>
        <ul class="doc_list">
          <li>Docs and APIs</li>
          <li>Support</li>
          <li>Blog</li>
          <!-- <li>System Status</li> -->
        </ul>
      </div>
      <div class="col-md-3 icon_list footer_contant mtextcenter">
        <p>&copy; 2019 Stezy.com</p>
        <p>Terms of Use & License</p>
        <p>Privacy Policy</p>
        <ul class="social_icon">
<li>
  <a href="https://www.facebook.com/stezyblockchain" target="blank">
  <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
</li>
<li>
  <a href="https://twitter.com/Stezyblockchain" target="blank">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>
</li>
<li>
  <a href="https://www.linkedin.com/company/stezy" target="blank">
   <i class="fa fa-linkedin" aria-hidden="true"></i>
  </a>
</li>
        </ul>
      </div>
    </div>
  </div>
</section>