.footer{
    background:#f3f6fd;
    padding: 50px 0 10px 0px;
}
.company_list, .doc_list li{
    list-style-type: none;
    margin: 10px 0;
}
.company_list li{
    margin: 10px 0;
}
ul.company_list, ul.doc_list, .social_icon{
    padding: 0;
}
.social_icon li {
    list-style-type: none;
    display: inline-block;
    padding: 0 10px 0 0;
    border: 2px solid #222;
    margin: 0 10px 0 0;
    width: 32px;
    height: 32px;
    border-radius: 50px;
}
.social_icon li .fa{
    margin: 5px 10px 10px 7px;
    font-size: 17px;
}
.icon_list p {
    line-height: 1;
}
.footer_logo img {
    width: 50%;
    margin-bottom: 16px;
}