<app-header></app-header>
<section class="product_bg"> 
  <div class="container">
    <div class="row">
      <div class="col-md-6 product_content">
        <h4>Explore the potential of Blockchain</h4>
        <p>Stezycore is a blockchain platform which helps in
            accelerating blockchain solutions and helps in
            saving time and cost and resource intensive
            development process.</p>
        <p>Start your journey with Stezy and demonstrate the
            value across the ecosystem.</p>
      </div>
      <div class="col-md-6 product_content">
        <img src="../../../assets/product_image.png">
      </div>
    </div>  
    <div class="row">
     <div class="col-md-12 watch_btn">
        <button><img src="../../../assets/banner_icon.png">WATCH DEMO</button>
      </div>
    </div>
  </div>  
</section>
<section class="">
    <div class="container">
        <div class="col-md-12  col-sm-12 col-12 heading_div">
          <p>Add Blockchain Trust to your Product</p>
        </div>  
        <div class="row box_div">
            <div class="col-md-4 col-sm-4 col-12 contant_heading">
                <div class="business_div">
                    <img src="../../../assets/insight.png">
                    <h6>Insight</h6>
                    <p>Gain a deeper understanding of the
                    technology, use cases and key consideratio
                    for production</p>
                </div>  
              </div>
              <div class="col-md-4 col-sm-4 col-12 contant_heading">
                  <div class="business_div">
                      <img src="../../../assets/dircation.png">
                      <h6>Direction</h6>
                      <p>Accelerate the development and
                      deployment of blockchain
                      use case</p>
                  </div>  
              </div>
              <div class="col-md-4 col-sm-4 col-12 contant_heading">
                  <div class="business_div">
                      <img src="../../../assets/sp.png">
                      <h6>Speed</h6>
                      <p>Create and deploy applications
                      in an agile format with
                      greater speed.</p>
                  </div>  
              </div>
        </div>  
      </div>
</section>  
<section class="supportbg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Comprehensive blockchain services like no other</h3>
      </div>
      <div class="col-md-2 build_contant">
          <h4>Explore</h4>
          <p>The Stezy Platform
              Offers a  range of easy
              customized solutions
              to help you business
              with blockchain</p>
      </div>   
      <div class="col-md-2 build_contant">
          <h4>Build</h4>
          <p>Stezy DIY App Builder's
              simplified interface makes
              it easier to create your
              proof of concept or
              application</p>
      </div>  
      <div class="col-md-4">
        <img src="../../../assets/support_img.png">
      </div>
      <div class="col-md-2 build_contant">
          <h4>Extend</h4>
          <p>API integration will make
              it easier to integrate Stezy
              blockchain with your
              existing infrastructure,
              apps and workflows
              </p>
      </div>
      <div class="col-md-2 build_contant">
          <h4>Transform</h4>
          <p>Stezy in partnership with
              you will overcome the
              remaining obstacles of 
              applying this cutting-edge
              technology to your
              enterprise</p>
      </div>
      <div class="row blockchain_div">
        <div class="col-md-4 blockchain_contant">
            <img src="../../../assets/blockchain.jpg">
            <h4>Configure Blockchain Your Way</h4>
            <p>Customize your environment with a choice of popular Ethereum
                protocol options and consensus mechanisms ranging from
                throughput optimized to Byzantine, trust-less and more. Choose</p>
            <a href="#">READ MORE</a>
        </div>
        <div class="col-md-4 blockchain_contant">
            <img src="../../../assets/blockchain1.jpg">
            <h4>Keep Your Eyes on the APIs</h4>
            <p>Kaleido’s full feature API accelerates blockchain adoption with
                ease of development and deployment. Fully embed Kaleido to take
                your solution to the next level.</p>
            <a href="#">READ MORE</a>
        </div>
        <div class="col-md-4 blockchain_contant">
            <img src="../../../assets/blockchain2.jpg">
            <h4>Anchor Private Chains to the Ethereum Mainnet</h4>
            <p>Leverage the Mainnet tether option to prevent collusion scenarios
                and historical rewrites of your private blockchain ledger by
                periodically anchoring its state to the public Ethereum network
                for improved immutability.</p>
            <a href="#">READ MORE</a>
        </div>
      </div>
    </div> 
  </div>  
</section>
<section class="platform_div">
  <div class="container">
    <div class="row">
      <div class="col-md-12 accountability">
        <h3>Why Stezy Platform</h3>
        <img src="../../../assets/22.png" class="circal_img">
        <h4>Accountability</h4>
        <p>We take accountability for the long term,
          addressing complex challenges while
          mitigating risk</p>
        <p></p>
      </div>
      <div class="col-md-3 provide_left">
        <div class="platform_detail">
          <h4 class="capabilities">Capabilities</h4>
          <p>We provide capabilities that are
              broad, deep, and suited to your
              industry, along with a global
              network of skilled professionals
              and partners</p>
        </div>
        <div class="platform_detail">
            <h4 class="experties">Expertise</h4>
            <p>In the Stezy portfolio,
                technology integration, and
                digital transformation</p>
        </div>
      </div>
      <div class="col-md-6 platform_img">
        <img src="../../../assets/11.png">
      </div>
      <div class="col-md-3 provide_right">
          <div class="platform_detail">
              <h4 class="flexibility">Flexibility</h4>
              <p>We are very Flexible to engage
                  the way that works for you, with
                  the global reach to satisfy your
                  business needs</p>
            </div>
            <div class="platform_detail">
                <h4 class="result">Results</h4>
                <p>that demonstrate our ability to
                    lead change and deliver on
                    our commitment</p>
            </div>
      </div>  
    </div>  
  </div>  
</section>

<app-tryus></app-tryus>
<app-newletter></app-newletter>
<app-footer></app-footer>
