<app-header></app-header>
<div class="pricing_box">
  <div class="container">
    <h2 class="price_heading">Pricing</h2>
    <p class="price_head_para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
</div>
<div class="container price_table">
<h2 class="text-center">Pricing</h2>
   <div class="row">
     <div class="col-md-4">
       <div class="table_box text-center mob_height">
           <img src="../../assets/ballon.jpg" alt="">
           <h2>Free</h2>
           <ul>
              <li class="li_bg">Get Started Free</li>
               <li>For learning, prototypes, and early <br> development</li>
               <li>Lifetime free Node access to <br> Stezy Private Blockchain</li>
           </ul>
       </div>
     </div>
    <div class="col-md-4">
      <div class="table_box text-center">
        <img src="../../assets/engine.jpg" alt="">
        <h2>Business</h2>
          <ul>
            <li class="li_bg">Starting $199/month </li>
            <li>Designed for every stage of <br> your application </li>
            <li>Pay only for the nodes you <br> provision</li>
            <li class="li_bold">Small Node</li>
            <li>$199/month <br> v1 CPU 1 GB Ram 8GB Storage</li>
            <li class="li_bold">Medium Node</li>
            <li>$299/monh <br>v2 CPU 4 GB Ram 200GB Storage </li>
            <li class="li_bold">Large Node</li>
            <li class="bord_bot_none">$499/month <br>v4 CPU 16 GB Ram 1TB Storage</li>
          </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="table_box text-center mob_height">
        <img src="../../assets/rocket.jpg"  alt="">
        <h2>Enterprise</h2>
          <ul>
            <li class="li_bg">Contact Us</li>
            <li> Includes proactive support and advanced <br> enterprise features </li>
            <li class="mob_border_none">Contact Us</li>
          </ul>
      </div>
    </div>
   </div>
</div>
<hr>
<div class="container comparison">
  <h2 class="text-center">Feature Comparison</h2>
<div class="scrollable row">
<div class="col-6 mobnopaddright  d-block d-sm-none">
    <table class="table">
      <thead>
        <tr class="no_borde_dt">
          <td class="width_33 hight88px"></td>
        </tr>
      </thead>
      <tbody>
        <tr class="config_heading">
          <th>Networking Configuration</th>
        </tr>
        <tr>
          <td>Highly Available Network</td>
        </tr>
        <tr>
          <td>Private Network Setup</td>
        </tr>
        <tr>
          <td>Choice of Blockchain Framework</td>
        </tr>
        <tr>
          <td>Cross Region Network</td>
        </tr>
        <tr>
          <td>External Organisation Onboarding</td>
        </tr>
        <tr>
          <td>Choice of Cloud Provider</td>
        </tr>
        <tr>
          <td>In-house Deployment</td>
        </tr>
        <tr class="config_heading">
          <th>Security</th>
        </tr>
        <tr>
          <td>Always On Authentication</td>
        </tr>
        <tr>
          <td>End To End Encryption</td>
        </tr>
        <tr>
          <td>User Pools</td>
        </tr>
        <tr>
          <td>IP Whitelisting</td>
        </tr>
        <tr>
          <td>Dedicated Private Network</td>
        </tr>
        <tr>
          <td>VPC Integration</td>
        </tr>
        <tr>
          <td>VPC Peering</td>
        </tr>
        <tr>
          <td>VPN Tunneling</td>
        </tr>
        <tr class="config_heading">
          <th>Disaster Recovery</th>
        </tr>
        <tr>
          <td>Fully Managed Backups</td>
        </tr>
        <tr class="config_heading">
          <th>Monitoring</th>
        </tr>
        <tr>
          <td>Blockchain Explorer</td>
        </tr>
        <tr class="config_heading">
          <th>Support & Learning</th>
        </tr>
        <tr>
          <td>Knowledge Base Access</td>
        </tr>
        <tr>
          <td>Platform & UI support</td>
        </tr>
        <tr>
          <td>End to End Network Supportt</td>
        </tr>
        <tr>
          <td>Response time SLA</td>
        </tr>
        <tr class="config_heading">
          <th>Additional Software & Tools</th>
        </tr>
        <tr>
          <td>Smart Contract Builder</td>
        </tr>
        <tr>
          <td>API Integration</td>
        </tr>
      </tbody>
    </table>
  </div>
<div class="col-6 mobnopaddleft  d-block d-sm-none">
    <table class="table table-responsive">
      <thead>
        <tr class="no_borde_dt">
          <td>
            <div class="comparison_box">
              <h3 class="text-center">FREE</h3>
              <h4> Get Started Free</h4>
            </div>
          </td>
          <td>
            <div class="comparison_box">
              <h3 class="text-center">Business</h3>
              <h4>Starting $199/montd</h4>
            </div>
          </td>
          <td class="pad_right_zero">
            <div class="comparison_box">
              <h3 class="text-center">Enterprise</h3>
              <h4>Contact Us</h4>
            </div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr class="config_heading">
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr class="config_heading">
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr class="config_heading">
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr class="config_heading">
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td align="center">Basic</td>
          <td align="center">Advanced</td>
          <td align="center">Custom</td>
        </tr>
        <tr class="config_heading">
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center">48 hours</td>
          <td align="center">24 hours</td>
          <td align="center">12 hours</td>
        </tr>
        <tr class="config_heading">
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td align="center">Free</td>
          <td align="center">Free</td>
          <td align="center">Free</td>
        </tr>
        <tr>
          <td align="center">Basic</td>
          <td align="center">Advanced</td>
          <td align="center">Custom</td>
        </tr>
      </tbody>
    </table>
  </div>
<table class="table table-responsive d-none d-sm-block">
    <thead>
      <tr class="no_borde_dt">
        <td class="width_33"></td>
        <td>
          <div class="comparison_box">
            <h3 class="text-center">FREE</h3>
            <h4> Get Started Free</h4>
          </div>
        </td>
        <td>
          <div class="comparison_box">
            <h3 class="text-center">Business</h3>
            <h4>Starting $199/montd</h4>
          </div>
        </td>
        <td class="pad_right_zero">
          <div class="comparison_box">
            <h3 class="text-center">Enterprise</h3>
            <h4>Contact Us</h4>
          </div>
        </td>
      </tr>
    </thead>
      <tbody>
        <tr class="config_heading">
          <th >Networking Configuration</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
            <td>Highly Available Network</td>
            <td align="center"><span class="dot_green"></span></td>
            <td align="center"><span class="dot_green"></span></td>
            <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
            <td>Private Network Setup</td>
            <td align="center"><span class="dot_red"></span></td>
            <td align="center"><span class="dot_green"></span></td>
            <td align="center"><span class="dot_green"></span></td>
        </tr>
<tr>
  <td>Choice of Blockchain Framework</td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_green"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr>
  <td>Cross Region Network</td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_green"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr>
  <td>External Organisation Onboarding</td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_green"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr>
  <td>Choice of Cloud Provider</td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr>
  <td>In-house Deployment</td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr class="config_heading">
  <th>Security</th>
  <th></th>
  <th></th>
  <th></th>
</tr>
<tr>
  <td>Always On Authentication</td>
  <td align="center"><span class="dot_green"></span></td>
  <td align="center"><span class="dot_green"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr>
  <td>End To End Encryption</td>
  <td align="center"><span class="dot_green"></span></td>
  <td align="center"><span class="dot_green"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr>
<td>User Pools</td>
  <td align="center"><span class="dot_green"></span></td>
  <td align="center"><span class="dot_green"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr>
  <td>IP Whitelisting</td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_green"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr>
  <td>Dedicated Private Network</td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_green"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr>
  <td>VPC Integration</td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr>
  <td>VPC Peering</td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr>
  <td>VPN Tunneling</td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr class="config_heading">
  <th>Disaster Recovery</th>
  <th></th>
  <th></th>
  <th></th>
</tr>
<tr>
  <td>Fully Managed Backups</td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr class="config_heading">
  <th>Monitoring</th>
  <th></th>
  <th></th>
  <th></th>
</tr>
<tr>
  <td>Blockchain Explorer</td>
  <td align="center">Basic</td>
  <td align="center">Advanced</td>
  <td align="center">Custom</td>
</tr>
<tr class="config_heading">
  <th>Support & Learning</th>
  <th></th>
  <th></th>
  <th></th>
</tr>
<tr>
  <td>Knowledge Base Access</td>
  <td align="center"><span class="dot_green"></span></td>
  <td align="center"><span class="dot_green"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr>
  <td>Platform & UI support</td>
  <td align="center"><span class="dot_green"></span></td>
  <td align="center"><span class="dot_green"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr>
  <td>End to End Network Supportt</td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_red"></span></td>
  <td align="center"><span class="dot_green"></span></td>
</tr>
<tr>
  <td>Response time SLA</td>
  <td align="center">48 hours</td>
  <td align="center">24 hours</td>
  <td align="center">12 hours</td>
  </tr>
<tr class="config_heading">
  <th>Additional Software & Tools</th>
  <th></th>
  <th></th>
  <th></th>
</tr>
<tr>
<td>Smart Contract Builder</td>
  <td align="center">Free</td>
  <td align="center">Free</td>
  <td align="center">Free</td>
</tr>
<tr>
  <td>API Integration</td>
  <td align="center">Basic</td>
  <td align="center">Advanced</td>
  <td align="center">Custom</td>
</tr>
      </tbody>
  </table>
</div>
  <div class="mob_text_center">
      <span class="yes_no"><span class="dot_green"></span> yes </span>
      <span class="no_yes"><span class="dot_red"></span>No</span>
  </div>
</div>
<app-footer></app-footer>
