<app-header></app-header>
<div class="pricing_box">
  <div class="container_posit container">
    <h2 class="price_heading">Pricing</h2>
    
  </div>
</div>
<div class="container price_table">
<h2 class="text-center font24px">Pricing</h2>
  <p class="price_para">With Stezy Blockchain, you pay for the Node you create. The Stezy managed Blockchain network consists of one or more
    partners, and each partner member has peer nodes with can communicate seamlessly with the consortium partners.
    Additionally, members can write data to the network.
    One Year Membership is absolutely free. You will only be charged for the peer nodes, peer node storage, data written
    to the network, and data transfer all consolidated as part of Subscription. Depending on the requirement you have the
    choice to select any of the plans. You can check our Feature comparison section.
    The pricing below is for Stezy Managed Blockchain for Ethereum and Quorum.
  </p>
<owl-carousel-o  [options]="customOptions" (initialized)="getData($event)" id="cro">
  <ng-container *ngFor="let slide of slidesStore ; let i = index">
    <ng-template carouselSlide="1">
      <div class="col-md-12 ">
      <div class="table_box text-center mob_height " [ngClass]=" slide.height ? 'heightFix' : ''">
          <img src="../../assets/{{slide.id}}.jpg" alt="" class="priceimg">
      <h2>{{slide.title}} <span class="started_free">{{slide.shortDescription}} </span> </h2>
          <h5 class="shortTitle"> {{slide.membership}} </h5>
          <ul class="table_data">
            <li *ngFor="let des  of slide.descriptionArray" [innerHTML]="des"></li>
          </ul>
        </div>
</div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
</div>
<hr>
<div class="container comparison">
  <h2 class="text-center">Feature Comparison</h2>
<div class="scrollable row">
<div class="col-6 mobnopaddright  d-block d-sm-none">
    <table class="table">
      <thead>
        <tr class="no_borde_dt">
          <td class="width_33 hight88px"></td>
        </tr>
      </thead>
      <tbody>
        <tr class="config_heading">
          <th>Networking Configuration</th>
        </tr>
        <tr>
          <td>Highly Available Network</td>
        </tr>
        <tr>
          <td>Private Network Setup</td>
        </tr>
        <tr>
          <td>Choice of Blockchain Framework</td>
        </tr>
        <tr>
          <td>Cross Region Network</td>
        </tr>
        <tr>
          <td>External Organisation Onboarding</td>
        </tr>
        <tr>
          <td>Choice of Cloud Provider</td>
        </tr>
        <tr>
          <td>In-house Deployment</td>
        </tr>
        <tr class="config_heading">
          <th>Security</th>
        </tr>
        <tr>
          <td>Always On Authentication</td>
        </tr>
        <tr>
          <td>End To End Encryption</td>
        </tr>
        <tr>
          <td>User Pools</td>
        </tr>
        <tr>
          <td>IP Whitelisting</td>
        </tr>
        <tr>
          <td>Dedicated Private Network</td>
        </tr>
        <tr>
          <td>VPC Integration</td>
        </tr>
        <tr>
          <td>VPC Peering</td>
        </tr>
        <tr>
          <td>VPN Tunneling</td>
        </tr>
        <tr class="config_heading">
          <th>Disaster Recovery</th>
        </tr>
        <tr>
          <td>Fully Managed Backups</td>
        </tr>
        <tr class="config_heading">
          <th>Monitoring</th>
        </tr>
        <tr>
          <td>Blockchain Explorer</td>
        </tr>
        <tr class="config_heading">
          <th>Support & Learning</th>
        </tr>
        <tr>
          <td>Knowledge Base Access</td>
        </tr>
        <tr>
          <td>Platform & UI support</td>
        </tr>
        <tr>
          <td>End to End Network Supportt</td>
        </tr>
        <tr>
          <td>Response time SLA</td>
        </tr>
        <tr class="config_heading">
          <th>Additional Software & Tools</th>
        </tr>
        <tr>
          <td>Smart Contract Builder</td>
        </tr>
        <tr>
          <td>API Integration</td>
        </tr>
      </tbody>
    </table>
  </div>
<div class="col-6 mobnopaddleft  d-block d-sm-none">
    <table class="table table-responsive">
      <thead>
        <tr class="no_borde_dt">
          <td>
            <div class="comparison_box">
              <h3 class="text-center">FREE</h3>
              <h4> Get Started Free</h4>
            </div>
          </td>
          <td>
            <div class="comparison_box">
              <h3 class="text-center">Business</h3>
              <h4>Starting $199/month</h4>
            </div>
          </td>
          <td class="pad_right_zero">
            <div class="comparison_box">
              <h3 class="text-center">Enterprise</h3>
              <h4>Contact Us</h4>
            </div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr class="config_heading">
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr class="config_heading">
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr class="config_heading">
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr class="config_heading">
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td align="center">Basic</td>
          <td align="center">Advanced</td>
          <td align="center">Custom</td>
        </tr>
        <tr class="config_heading">
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_red"></span></td>
          <td align="center"><span class="dot_green"></span></td>
        </tr>
        <tr>
          <td align="center">48 hours</td>
          <td align="center">24 hours</td>
          <td align="center">12 hours</td>
        </tr>
        <tr class="config_heading">
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td align="center">Free</td>
          <td align="center">Free</td>
          <td align="center">Free</td>
        </tr>
        <tr>
          <td align="center">Basic</td>
          <td align="center">Advanced</td>
          <td align="center">Custom</td>
        </tr>
      </tbody>
    </table>
  </div>
<table class="table table-responsive d-none d-sm-block">
    <thead>
      <tr class="no_borde_dt">
        <td class="width_33"></td>
<td class="width_33">
          <div class="comparison_box">
            <h3 class="text-center">FREE</h3>
            <h4> Get Started Free</h4>
          </div>
        </td>
<td class="width_33">
          <div class="comparison_box">
            <h3 class="text-center">Business</h3>
            <h4>Starting $199/montd</h4>
          </div>
        </td>
<td class="pad_right_zero width_33">
          <div class="comparison_box">
            <h3 class="text-center">Enterprise</h3>
            <h4>Contact Us</h4>
          </div>
        </td>
      </tr>
    </thead>
      <tbody>
        <tr class="config_heading">
          <th >Networking Configuration</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
            <td>Highly Available Network</td>
            <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
            <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
            <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
        </tr>
        <tr>
            <td>Private Network Setup</td>
            <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
            <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
            <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
        </tr>
<tr>
  <td>Choice of Blockchain Framework</td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr>
  <td>Cross Region Network</td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr>
  <td>External Organisation Onboarding</td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr>
  <td>Choice of Cloud Provider</td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr>
  <td>In-house Deployment</td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr class="config_heading">
  <th>Security</th>
  <th></th>
  <th></th>
  <th></th>
</tr>
<tr>
  <td>Always On Authentication</td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr>
  <td>End To End Encryption</td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr>
<td>User Pools</td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr>
  <td>IP Whitelisting</td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr>
  <td>Dedicated Private Network</td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr>
  <td>VPC Integration</td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr>
  <td>VPC Peering</td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr>
  <td>VPN Tunneling</td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr class="config_heading">
  <th>Disaster Recovery</th>
  <th></th>
  <th></th>
  <th></th>
</tr>
<tr>
  <td>Fully Managed Backups</td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr class="config_heading">
  <th>Monitoring</th>
  <th></th>
  <th></th>
  <th></th>
</tr>
<tr>
  <td>Blockchain Explorer</td>
  <td align="center">Basic</td>
  <td align="center">Advanced</td>
  <td align="center">Custom</td>
</tr>
<tr class="config_heading">
  <th>Support & Learning</th>
  <th></th>
  <th></th>
  <th></th>
</tr>
<tr>
  <td>Knowledge Base Access</td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr>
  <td>Platform & UI support</td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr>
  <td>End to End Network Supportt</td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
  <td align="center"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span></td>
</tr>
<tr>
  <td>Response time SLA</td>
  <td align="center">48 hours</td>
  <td align="center">24 hours</td>
  <td align="center">12 hours</td>
  </tr>
<tr class="config_heading">
  <th>Additional Software & Tools</th>
  <th></th>
  <th></th>
  <th></th>
</tr>
<tr>
<td>Smart Contract Builder</td>
  <td align="center">Free</td>
  <td align="center">Free</td>
  <td align="center">Free</td>
</tr>
<tr>
  <td>API Integration</td>
  <td align="center">Basic</td>
  <td align="center">Advanced</td>
  <td align="center">Custom</td>
</tr>
      </tbody>
  </table>
</div>
  <div class="mob_text_center">
      <span class="yes_no"><span class="dot_green"><i class="fa fa-check" aria-hidden="true"></i> </span> yes </span>
      <span class="no_yes"><span class="dot_red"><i class="fa fa-check" aria-hidden="true"></i> </span>No</span>
  </div>
</div>
<app-footer></app-footer>
