<app-header></app-header>
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 mobTexcenter">
        <p class="stezy_div">Stezy is worlds first</p>
        <h5>Do it yourself blockchain platform</h5>
        <p class="help_div">which helps enterprise to seamlessly</p>
        <p class="help_div">integrate blockchain.</p>
      </div>
      <div class="col-md-6 col-xs-12 position_abso">
        <img class="div_img" src="../../../assets/aboutbg.jpg" width="100%" class="img-responsive" alt="">
      </div>
    </div>
  </div>
</section>
<section class="mission_div">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h4 class="vision_heading">Our Vision</h4>
        <p class="vision_contant">To provide and help Transform every
          Business in the world create trust and
          transparency for their partners and
          customers</p>
      </div>
      <div class="col-md-2 image_div">
        <img src="../../../assets/line.png" class="line_img">
        <img src="../../../assets/line1.png" class="line1_img">
      </div>
      <div class="col-md-5">
        <h4 class="vision_heading">Our Mission</h4>
        <p class="vision_contant">Stezy’s mission is to help companies thrive
          in this new era of secure multi-party
          collaboration by delivering open, scalable
          platforms and services that any organization
          can use to improve shared business processes</p>
      </div>
    </div>
  </div>
</section>
<section class="leadership">
  <div class="container">
    <div class="row">
      <div class="col-md-12 leadership_heading">
        <h3>Our Team</h3>
        <!-- <p>Lorem Ipsum is simply dummy text of the printing
            and typesetting industry.</p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-6 team_leader">
        <img src="../../../assets/leder1.png.jpg">
        <h5>Rangarajan Kotadi </h5>
        <p>Founder Lead Strategy & Sales
        </p>
      </div>
      <div class="col-md-4 col-sm-6 col-6 team_leader">
        <img src="../../../assets/leder2.png.jpg">
        <h5>Mahesh B N</h5>
        <p>Co-founder Lead Product</p>
      </div>
      <div class="col-md-4 col-sm-6 col-6 team_leader">
        <img src="../../../assets/leder3.png.jpg">
        <h5>Raghav Goel </h5>
        <p>Co-Founder Lead Technology</p>
      </div>
      <div class="col-md-4 col-sm-6 col-6 team_leader">
        <img src="../../../assets/leder4.png.jpg">
        <h5>V. Balakrishnan</h5>
        <p>Strategic Advisor</p>
      </div>
      <div class="col-md-4 col-sm-6 col-6 team_leader">
        <img src="../../../assets/leder5.png.jpg">
        <h5>Dharmendra saxena</h5>
        <p>Mentor</p>
      </div>
      <!-- <div class="col-md-4 col-sm-6 col-6 team_leader">
          <img src="../../../assets/leder5.png.jpg">
          <h5>John Doe</h5>
          <p>Founder and CEO</p>
      </div> -->
    </div>
    <div class="join_our">
      <button class="join_btn">JOIN OUR GROWING TEAM</button>
    </div>
  </div>
</section>
<section class="career_div">
  <div class="container">
    <div class="row">
      <div class="col-md-12 careers_heading">
        <a name="Careers"></a>
        <h3>Careers</h3>
        <p>Interested in Joining Us? Write to us at jobs@stegy.com</p>
        <h5>Current Openings</h5>
      </div>
      <div class="col-md-4">
        <ul class="career_list">
          <li>Hyperledger Developer</li>
          <li>R3 Corda Dev</li>
          <li>Ethereum blockchain Dev</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="career_list">
          <li>Quorum developer</li>
          <li>Full stack Dev, Node JS, Express</li>
          <li>UX Designer</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="career_list">
          <li>Product Engineer</li>
          <li> Pre sales Executive</li>
          <li>Head Operations</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="form_div">
    <h5>Please fill the form our HR will contant you</h5>
    <form action="/action_page.php">
      <div class="form-group">
        <div class="row form_row">
          <div class="col-md-6 user_form padd_right5">
            <img src="../../../assets/user.png">
            <input type="text" class="form-control input_box" id="fname" placeholder="First Name" name="fname">
          </div>
          <div class="col-md-6 user_form padd_left5">
            <img src="../../../assets/user.png">
            <input type="text" class="form-control input_box" id="lname" placeholder="Last Name" name="lname">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row form_row">
          <div class="col-md-6 user_form padd_right5">
            <img src="../../../assets/email.png">
            <input type="email" class="form-control input_box" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="col-md-6 user_form padd_left5">
            <img src="../../../assets/phone.png">
            <input type="text" class="form-control input_box" id="phone" placeholder="Phone Number" name="number">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row form_row">
          <div class="col-md-6 user_form padd_right5">
            <img src="../../../assets/skill.png">
            <input type="text" class="form-control input_box" id="skill" placeholder="Select Skill" name="skill">
          </div>
          <div class="col-md-6 user_form padd_left5">
            <img src="../../../assets/attach.png">
            <input type="text" class="form-control input_box" id="attach" placeholder="Attach" name="attach">
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-default submit_btn">Submit</button>
    </form>
  </div>
</section>
<app-newletter></app-newletter>
<app-footer></app-footer>

