<app-header></app-header>
<section class="partener_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 banner_text">
        <img class="div_img" src="../../../assets/hand_shak.png" alt="" class="partener_img">
        <h4 class="partener_heading">OUR PARTENERS</h4>
        <h6>Interested in hosting your blockchain solutions on Stezy Platform?</h6>
        <p class="partener_text">Organisations worldwide are using Stezy blockchain 
          solutions to host their blockchain use cases with quick and easy deployments. 
          Interested in partnering with us to help #spreadtheword? Get in touch below!
          </p>
      </div>
    </div>
  </div>
</section>
<section class="career_div">
  <div class="container">
    <div class="row">
      <div class="col-md-12 careers_heading">
        <a name="Careers"></a>
        <h3>Help improve the Stezy platform</h3>  
      </div>
    </div>
  </div>
  <div class="form_div">
    <h5>Please fill the form our HR will contant you</h5>
    <form action="/action_page.php">
      <div class="form-group">
        <div class="row form_row">
          <div class="col-md-10 user_form padd_right5">
              <label for="name">Name:</label>
            <img src="../../../assets/user.png">
            <input type="text" class="form-control input_box" id="fname" placeholder="First Name" name="fname">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row form_row">
          <div class="col-md-10 user_form padd_right5">
              <label for="email">Email:</label>
            <img src="../../../assets/email.png">
            <input type="email" class="form-control input_box" id="email" placeholder="Enter email" name="email">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row form_row">
          <div class="col-md-10 user_form padd_right4">
              <label for="form7">What do you wish Stezy platform could do?:</label>
              <textarea type="text" id="form7" class="md-textarea form-control" rows="3"></textarea>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-default submit_btn">Submit</button>
    </form>
  </div>
</section>
<app-footer></app-footer>

