 <section class="banner">
  <div class="container">
    <div class="row">
    <div class="col-md-6 col-xs-12 mobTexcenter">
      <h2 class="headbanner">Your Gateway to Blockchain</h2> 
      <p class="empower_para">Empower your business with our user friendly solution
      for creation use and management of Blockchain.</p>
      <p class="sign_bt">
        <button>SIGN UP FOR FREE</button>
        <button (click)="open(content)" class="request_demo">REQUEST DEMO</button>
      </p> 
    </div>
    <div class="col-md-6 col-xs-12 position_abso">
    </div>
    </div>
  </div>
</section> 

<ng-template #content let-modal >
<div class="modal_bg">
  <div class="maxwidth_900">
   <!-- <div class="col-md-12 text_center_mob">
     <img src="../../../assets/logo.png" alt="">
    </div> -->
  <div class="text-center">
    <h4 class="modal_title">Request a Demo</h4>
    <button type="button" class="close mob_margin" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body row">
    <div class="col-md-6 modal_body_text">
      <div>
      <p class="home_contant">In this 30-minute session, our product consultant
      will walk you through a workflow that will demonstrate
      how you can build your blockchain solution with ease.</p>
        <h3 class="you_learn">You will learn how you can:</h3>
      <ul class="block_chain_ul">
        <li>Create and manage your Blockchain Nodes</li>
        <li>Invite your partner Organisation as part of the Network</li>
        <li>Build the use case and Integrating using API</li>
      </ul>
      </div>
    </div>
    <div class="col-md-6">
    <div class="form_div">
      <form action="/action_page.php ">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <img src="../../../assets/user.png">
              <input type="text" class="form-control" placeholder="First Name" name="fname">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <img src="../../../assets/user.png">
              <input type="text" class="form-control" placeholder="Last Name" name="lname">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <img src="../../../assets/email.png">
              <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <img src="../../../assets/phone.png">
              <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="number">
            </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <img src="../../../assets/user.png">
                <input type="text" class="form-control" id="employe" placeholder="No. of Employee" name="employe">
              </div>
            </div>
          <div class="col-md-6"> 
            <div class="form-group">
              <img src="../../../assets/company_icon.png">
              <input type="text" class="form-control" id="company" placeholder="Company" name="company">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <img src="../../../assets/email.png">
              <input type="text" class="form-control" id="contry" placeholder="Country" name="contry">
            </div>
          </div>
        </div>
          <button type="submit" class="btn btn-default submit_btn" disabled>REQUEST DEMO </button>
      </form>
    </div>
     <p class="text-center request_demo_para">By clicking <span class="demo_span">"Request Demo"</span> , you acknowledge having read our
       <span class="demo_notice"> Privacy notice</span></p>
    </div>
  </div>
  </div>
</div>
</ng-template>

