 <section class="banner">
  <div class="container">
    <div class="row">
    <div class="col-md-6 col-xs-12 mobTexcenter">
      <h2>Your Gateway to Blockchain</h2> 
      <p class="block_para">Transform your business with Blockchain</p>  
      <p class="empower_para">Empower your business with our user friendly solution
      for creation, use and management of Blockchaint</p>
      <p class="sign_bt">
        <button>SIGN UP FOR FREE</button>
        <button (click)="open(content)">REQUEST DEMO</button>
      </p> 
    </div>
    <div class="col-md-6 col-xs-12 position_abso">
    </div>
    </div>
  </div>
</section> 

<ng-template #content let-modal >
<div class="modal_bg">
  <div class="maxwidth_900">
<div class="col-md-12"><img src="../../../assets/logo.png" alt=""></div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Request a Demo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body row">
    <div class="col-md-6">
      <div>
      <p>In this 30-minute session, our product consultant
      will walk you through a workflow that will demonstrate
      how you can build your blockchain solution with ease.</p>
      <h3>You will learn how you can:</h3>
      <ul>
        <li>Create and manage your Blockchain Nodes</li>
        <li>Invite your partner Organisation as part of the Network</li>
        <li>Build the use case and Integrating using API</li>
      </ul>
      </div>
    </div>
    <div class="col-md-6">
    <div class="form_div">
      <form action="/action_page.php ">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="First Name" name="fname">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Last Name" name="lname">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="number">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" id="company" placeholder="Company" name="company">
            </div>
          </div>
        </div>
        <!-- <div class="form-group">
          <div class="row form_row">
            <div class="col-md-6 user_form padd_right5">
              <img src="../../../assets/user.png">
              <input type="text" class="form-control input_box" id="fname" placeholder="First Name" name="fname">
            </div>
            <div class="col-md-6 user_form padd_left5">
              <img src="../../../assets/user.png">
              <input type="text" class="form-control input_box" id="lname" placeholder="Last Name" name="lname">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row form_row">
            <div class="col-md-12 user_form padd_right5">
              <img src="../../../assets/email.png">
              <input type="email" class="form-control input_box" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="col-md-12 user_form padd_left5">
              <img src="../../../assets/phone.png">
              <input type="text" class="form-control input_box" id="phone" placeholder="Phone Number" name="number">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row form_row">
            <div class="col-md-12 user_form padd_right5">
              <img src="../../../assets/skill.png">
              <input type="text" class="form-control input_box" id="skill" placeholder="Company" name="skill">
            </div>
          </div>
        </div> -->
    
        <button type="submit" class="btn btn-default submit_btn">Submit</button>
      </form>
    </div>

    </div>

    <!-- <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="form-group">
          <input id="fistname" class="form-control" placeholder="First Name" name="fistname">
        </div>
        <div class="form-group">
          <input id="lastname" class="form-control" placeholder="Last Name" name="lastname">

        </div>
      </div>
    </form> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
  </div>
</div>
</ng-template>

