.banner {
  background: #e7eefc;
  padding-top: 100px;
  position: relative;
  height: 460px;
}
.headbanner{
font-weight: bold;
font-size: 32px;
}
.block_para {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  position: relative;
}
.block_para:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 50px;
  height: 3px;
  width: 60px;
  background: #6e6e80;
}
.empower_para{
  width: 80%;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
}
.position_abso {
  background: url("../../../assets/Characters.png") no-repeat center center ;
  height: 516px;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  top:30px;
  max-width:784px;
}
.sign_bt{
  margin-top: 50px  
}
.sign_bt button{
  background: #4385f5;
  border: none;
  color: #fff;
  border-radius: 20px;
  padding: 8px 15px 10px 15px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  margin-right: 15px;
}
.sign_bt button:hover{
  background-color: #34a853;
  transition: all .5s ease;
}
.modal_bg {
  background: url("../../../assets/request_demo_bg.jpg") no-repeat center center ;
}
.modal-header .close {
  padding: 1rem;
  margin: -8rem -7rem -1rem auto ;
  line-height: none;
}
.maxwidth_900{
  max-width: 1000px;
  margin: auto;
  padding: 18px 0;
}
button.close.mob_margin {
  top: 23px;
  right: 40px;
}
.modal_bg .modal-title {
  width: 100%;
  text-align: center;
  font-weight: 700;
}
.form_div {
  background: #fff;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
  padding: 20px;
}
.form11 {
  margin: 0 auto;
}
.form_div h5 {
  text-align: center;
  margin: 4px 0 24px 0;
  font-size: 16px;
}
.input_box img {
  position: absolute;
}
.form-group img {
  position: relative;
  top: 30px;
  z-index: 2;
  left: 5px;
  width: 15px;
}
.form-group input {
  text-indent: 20px;
}
.user_form {
  margin: -14px auto;
}
.submit_btn {
  background: #4385f5;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 42px;
}
.padd_right5 {
  padding-right: 5px !important;
}
.padd_left5 {
  padding-left: 5px !important;
}
.form_div .form-group{
  margin-bottom: 0px;
}
.home_contant{
  margin-top: 20px;
}
h4.modal_title {
  margin: 10px 0 20px 0 !important;
}
.request_demo_para{
  font-size: 11px;
  margin: 30px 0 0 0;
  padding: 0 30px;
}
span.demo_span {
  font-weight: 700;
  font-size: 16px;
}
.demo_notice {
  color: #4385f5;
  font-weight: 700;
  font-size: 14px;
}
.modal_body_text{
  padding-right: 65px;
}
.you_learn{
   color: #4385f5;
   font-size: 20px;
}
.block_chain_ul{
  padding-left: 20px !important;
  font-size: 15px;
  margin-top: 18px;
}
button.btn.btn-default.submit_btn {
  box-shadow: 0 4px 0 0 #ccc;
}

  @media only screen and (max-width: 1100px) {
    .position_abso {
       background-position: center right !important;
       top: -20px;
       background-size: 60% !important;
    }
   
  }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
      .position_abso {
       background-position: 30px right !important;
       max-width: 660px;
       top: 30px;
       height: 330px!important;
      }

       .banner {
         padding-top: 40px;
         height: 390px;
       }
.implement{
  margin-top: 40px!important;
}
       .block_para:after {
         top: 61px;
       }
       .empower_para{
         width: 90%;
         margin-top: 25px;
         font-size: 16px;
       }
       .sign_bt{
         margin-top: 25px;
       }
       .sign_bt button {
         padding: 8px 10px 10px 10px;
         margin-right: 10px;
         font-size: 14px;
       }
    }
@media only screen and (max-width: 375px)    {
      button.request_demo {
        padding: 8px 24px 10px 24px !important;
    }
    .headbanner{
      font-size: 25px;
  }
  .empower_para{
    margin-top: 14px;
  }
  
}