<section class="banner">
  <div class="container">
    <div class="row">
    <div class="col-md-6 col-xs-12 mobTexcenter">
      <h2>Your Gateway to Blockchain</h2> 
      <p class="block_para">Transform your business with Blockchain</p>  
      <p class="empower_para">Empower your business with our user friendly solution
      for creation, use and management of Blockchaint</p>
      <p class="sign_bt">
        <button>SIGN UP FOR FREE</button>
        <button>REQUEST DEMO</button>
      </p> 
    </div>
    <div class="col-md-6 col-xs-12 position_abso">
     <img class="div_img" src="../../../assets/Characters.png" width="100%" class="img-responsive" alt="">
    </div>
    </div>
  </div>
</section>
