.try_us{
    text-align: center;
    background-image:url("../../../assets/try.png");
    margin-bottom: 50px;
}
.try_us h3 {
    color: #fff;
    padding: 40px 0 0 0;
    font-size: 24px;
    font-weight: bold;
}
.try_us h6{
    color: #fff;
    font-size: 18px;
}
.try_us p{
    color: #fff;
    font-size: 16px;
    padding: 8px 200px;
}
.sign_btn{
    color: #4385f5;
    background: #fff;
    border: none;
    padding: 16px 30px;
    border-radius: 50px;
    margin: 0px 0 44px 0;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    outline: none;
}
.sign_btn:hover{
    background-color: #34a853;
    transition: all .5s ease;
    color: #fff;                 
}
.latest_update {
    text-align: center;
}


.modal_bg .modal-title {
    width: 100%;
    text-align: center;
    font-weight: 700;
  }
  .form_div {
    background: #fff;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px;
    padding: 20px 20px 0 20px;
    position: relative;
  }
  .form11 {
    margin: 0 auto;
  }
  .form_div h5 {
    text-align: center;
    margin: 4px 0 24px 0;
    font-size: 16px;
  }
  .input_box img {
    position: absolute;
  }
  .form-group img {
    position: relative;
    top: 13px;
    z-index: 2;
    left: 26px;
    width: 15px;
    position: absolute;
  }
  select#employe, select#designation, select#contry {
    text-indent: 20px;
}
img.phone_image {
  margin-top: -5px;
}
  h4.modal-title {
    margin: 0 0 0 auto;
}
.modal-header {
  padding: 8px;
}
button.close {
  margin-right: 10px !important;
  margin-top: -10px !important;
}
  .form-group input {
    text-indent: 20px;
  }
  .user_form {
    margin: -14px auto;
  }
  .submit_btn {
    background: #4385f5;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    /* margin: 0 auto; */
    display: block;
    position: relative;
    top:10px;
  }
  .padd_right5 {
    padding-right: 5px !important;
  }
  .padd_left5 {
    padding-left: 5px !important;
  }
  /* .form_div .form-group{
    margin-bottom: 0px;
  } */
  .home_contant{
    margin-top: 20px;
  }
  h4.modal_title {
    margin: 10px 0 20px 0 !important;
  }
  .request_demo_para{
    font-size: 11px;
    margin: 30px 0 0 0;
    padding: 0 30px;
  }
  span.demo_span {
    font-weight: 700;
    font-size: 16px;
  }
  .demo_notice {
    color: #4385f5;
    font-weight: 700;
    font-size: 14px;
  }
  .modal_body_text{
    padding-right: 65px;
  }
  .you_learn{
     color: #4385f5;
     font-size: 20px;
  }
  .block_chain_ul{
    padding-left: 20px !important;
    font-size: 15px;
    margin-top: 18px;
  }
  button.btn.btn-default.submit_btn {
    box-shadow: 0 4px 0 0 #ccc;
    background: #4385f5;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 20px;
  }
  .contact_popup{
    padding: 0 20px 30px 20px;
  }
  .modal-content {
    width: 60%;
    margin: 0 auto;
}
.modal-dialog {
    height: 400px;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
}
@media only screen and (max-width: 991px)  and (min-width: 320px)  {
    .try_us p{
        padding: 0 !important;
    }
    
}
@media only screen and (max-width: 767px)  and (min-width: 320px)  {
    .try_us p{
        padding: 8px 0 !important;
    }
    .modal-content{
        width: 100%;
      }
      .contact_popup{
        padding: 0 0 30px 0;
      }
      .modal-dialog {
        height: inherit;
        margin: 10% auto 0px auto;
        position: inherit;
      }
}
@media only screen and (max-width: 414px)    {
    .try_us{
        margin-bottom:0 !important;
    }
    .try_us p{
        padding: 0 !important;
    }
}