.try_us{
    text-align: center;
    background-image:url("../../../assets/try.png");
    margin-bottom: 50px;
}
.try_us h3 {
    color: #fff;
    padding: 40px 0 0 0;
    font-size: 24px;
    font-weight: bold;
}
.try_us h6{
    color: #fff;
    font-size: 18px;
}
.try_us p{
    color: #fff;
    font-size: 16px;
    padding: 8px 200px;
}
.sign_btn{
    color: #4385f5;
    background: #fff;
    border: none;
    padding: 16px 30px;
    border-radius: 50px;
    margin: 0px 0 44px 0;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
}
.sign_btn:hover{
    background-color: #34a853;
    transition: all .5s ease;
    color: #fff;                 
}
.latest_update {
    text-align: center;
}
@media only screen and (min-width: 767px)  and (max-width: 320px)  {
    .try_us p{
        padding: 8px 0;
    }
}
@media only screen and (max-width: 414px)    {
    .try_us{
        margin-bottom:0 !important;
    }
}