<section class="newletter">
<div class="container">
  <div class="row">
    <div class="col-md-12 latest_update">
   <h3>Subscribe to our Newsletter to get Latest Updates!</h3> 
      <form action="/action_page.php">
        <div class="form-group">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <input type="email" class="form-control" id="email" placeholder="Your Email" name="email">
          <button class="subscribe">SUBSCRIBE</button>
        </div>
      </form>
    </div>
  </div>
</div>
</section>