<div class="container">
  <div class="row">
    <div class="col-md-12 latest_update">
      <h3>Get Our latest updates!</h3>
      <p>Subscribers to our newsletter have been scientifically proven to be smarter,</p>
      <p>better looking and at least 50% more awesome than average.</p>
      <form action="/action_page.php">
        <div class="form-group">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <input type="email" class="form-control" id="email" placeholder="Your Email" name="email">
          <button class="subscribe">SUBSCRIBE</button>
        </div>
      </form>
    </div>
  </div>
</div>