.slider_text_right {
  width: 0px;
  transition: width 4s;
}

.slider_text_right {
  width: 50%;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 101%;
  background: #f3f6fd;
  padding: 10px 100px 30px 50px;
  overflow-y: scroll;
}
img.dashed_img {
  position: relative;
}
button.close span {
  top: 18px;
  position: fixed;
  border-radius: 50%;
  width: 30px;
  display: inline-block;
  height: 30px;
  background: #fff;
  box-shadow: 0px 0px 10px #666;
}

.business_div {
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
  padding: 40px 0;
  margin: 14px 0;
}

.business_div h6 {
  font-weight: 800;
  margin: 16px 0;
  font-size: 18px;
}

.business_div p {
  font-size: 14px;
  color: #333;
  padding: 0px 10px;
}
.heading_div {
  margin-top: 50px;
}

.heading_div p {
  font-weight: 800;
  line-height: 1.4;
  font-size: 24px;
  padding: 0 180px;
  text-align: center;
}

.box_div {
  padding: 12px 0;
}

/*end business-section */
.text {
  text-align: center;
}

section.domains_div {
  padding: 40px 0;
  border-top: 1px solid #ccc;
  margin-top: 50px;
}

.domains_div p {
  font-size: 16px;
  max-width: 720px;
  margin: 0px auto;
}

.domains_div h3 {
  margin: 20px 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.4;
}

.testimonialcontainer {
  margin: 0px auto;
  padding: 0px 30px;
}

.testimonialbox {
  background: url("../../assets/testimonial_icons.png") no-repeat 40px 20px;
  border: 0px solid #fff !important;
  font-size: 14px;
  position: relative;
  margin: 30px;
  overflow: hidden;
  padding: 20px;
  border-radius: 10px;
}

.testimonialbox:hover {
  box-shadow: 0px 0px 20px #ccc;
}

.testiimgbox img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px auto 40px auto;
}

.testitestbox {
  margin-bottom: 40px;
}

.testitestbox p {
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.testilogo {
  text-align: center;
  height: 53px;
  line-height: 53px;
}

.peoplename {
  color: #4385f5;
  text-transform: capitalize;
  font-weight: bold;
  padding-top: 10px;
}

.testilogo img {
  max-height: 53px;
  max-width: 100%;
  object-fit: contain;
}

.patnercontainer {
  background: #f3f6fd;
  padding: 40px 0px;
}

.partenrgbox img {
  width: 50%;
  margin-top: 50px;
  margin-left: 90px;
}

.patnercontainer h3 {
  margin-bottom: 0px;
}

.margintop {
  margin-top: 50px;
}

.marginbot20px {
  margin-bottom: 20px;
}
.marginbot30px {
  margin-bottom: 30px;
}
.rowdash{
  max-width: 680px;
  left: 0px;
  right: 0px;
  margin: auto;
  border: 1px dashed #fff;
  position: absolute;
  margin-top: 63px;
}

.implement {
  background: url("../../assets/try.png") no-repeat;
  margin-top: 100px;
  padding: 24px 0 24px 0;
  /* position: relative; */
  background-size: cover;
}

.impbox{
  margin-top: 15px;
}
.impbox p {
  color: #fff;
  font-size: 24px;
  line-height: normal;
  max-width: 240px;
  margin-left: auto;
   margin-right: auto;
}

.margin_top16 {
  margin-top: 16px;
}

.latest_update {
  text-align: center;
  overflow: hidden;
}

.slider_text {
  position: relative;
}

.s_number {
  color: #fff !important;
  padding: 0px;
  font-size: 11px;
}

h2.s_number:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #ccc;
  width: 20px;
  height: 1px;
  left: 0;
  bottom: -5px;
}

h2.s_number {
  position: relative;
}

.trade_heading {
  color: #fff !important;
  padding: 0px;
}

.trade_list {
  color: #fff;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.trade_list li .fa {
  padding: 0 8px 0 0;
  font-size: 22px;
}

.trade_list li {
  background: url("../../assets/arrow.png")no-repeat 0px 5px;
  font-size: 14px;
  margin: 10px 0;
  padding-left: 15px;
}

.slider_text a {
  padding: 0px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
  display: inline-block;
  margin-top: 20px;
  margin-left: 15px;
}

.nopadd {
  padding: 0px;
}

.slideimgbox {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.slideimgbox img {
  object-fit: cover;
}

.slidecontent {
  padding: 200px 40px 40px 40px;
}

.arrow_bg {
  width: 1.5% !important;
  position: relative;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.slide_text {
  min-height: 160px;
}

.slider_text_right ul {
  margin: 0;
  padding: 0;
}

.slider_text_right li {
  list-style-type: none;
  margin-bottom: 10px;
}

.slider_text_right img {
  width: 6px !important;
  float: left;
  position: relative;
  top: 7px;
  left: 4px;
}

.slider_text_right span {
  margin-left: 16px;
  display: block;
}

.slider_text_right h4 {
  margin-top: 30px;
}

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .implement {
      margin-top: 40px !important;
    }
    .heading_div p {
       padding: 0 0px;
    }
    .business_div p{
        line-height: normal;
        margin-bottom: 5px;
        padding: 0px 5px;
    }
    .business_div{
        min-height: 394px;
    }
    .section.domains_div {
      margin-top: 0px!important;
    }
    .slidernextshow .slidecontent {
        max-width: 50%;
    }
}