<nav class="navbar navbar-expand-lg navbar-light  height100">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../../assets/logo.png" alt="">
      <p>Do It Yourself Blockchain</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/about']" >About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product']">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Learn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Blogs</a>
        </li>
      </ul>
      <div class="login_user">
          <ul>
            <li class="login_person"><a href="">Login</a></li>
            <li class="get_start"><button>get started</button></li>
          </ul>
      </div>
    </div>
   
  </div>
</nav>